<template lang="html">
	<div v-if="loaded">
		<div class="password-header"><div class="password-header-fade"/></div>
		<div v-if="badToken" class="password container">
			<p>
				Sorry, this token has expired or is invalid.  Note that you only have 1hr to change your password...
				Please try again.
			</p>
		</div>
		<div class="password container" v-if="!badToken">
			<h5 style="padding-top: 20px;">Password Recovery</h5>
			<p>
				If you are here, then you clicked a link in your email to reset your password.  You
				might need to do this if you were previously registered with WiN Canada, but never logged in
				in the past, or if you simply forgot your password.
			</p>
			<form @submit.prevent="submit">
				<fieldset class="required-fields">
					<div class="row">
						<div class="six columns">
							<label for="inputConfirmEmail">Email</label>
							<input disabled class="u-full-width" v-model="email" type="email" id="inputConfirmEmail"/>
						</div>
						<div class="six columns">
							<label for="inputConfirmUsername">Username</label>
							<input disabled class="u-full-width" v-model="username" type="text" id="inputConfirmUsername" />
						</div>
					</div>
					<div class="row">
						<div class="six columns">
							<label for="inputConfirmPassword">New Password</label>
							<input class="u-full-width" @keypress="keyPress" placeholder="Choose a password" v-model="password" type="password" id="inputConfirmPassword"/>
							<div class="confirm-error field-error-red" v-if="passwordError">{{ passwordError.join( ", " )}}</div>
						</div>
						<div class="six columns">
							<label for="inputConfirmPasswordConfirmation">Confirm New Password</label>
							<input class="u-full-width" @keypress="keyPress" placeholder="Re-enter your password" v-model="passwordConfirmation" type="password" id="inputConfirmPasswordConfirmation" />
							<div class="confirm-error field-error-red" v-if="passwordConfirmationError">{{ passwordConfirmationError.join( ", " )}}</div>
						</div>
					</div>
					<div class="row" style="padding-top: 30px;">
						<input class="button-primary"  type="submit" value="Update Password"/>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</template>
<style lang="less">
	.password-header {
		background-size: cover;
		height: 68px;
	}
	.password-header-fade {
		position: absolute;
		width: 100%;
		margin: 0;
		height: 68px;
		background: rgba( 0,0,0,0.5);
	}
	fieldset {
		padding: 0 30px 30px 30px;
	}

</style>

<script type="text/babel">
	import jwt_decode from "jwt-decode";
	import { mapState, mapActions } from "vuex";
	import { updatePassword } from "../../api";

	export default{
		props: ["token"],
		data(){
			return {
				badToken: undefined,
				password: "",
				passwordError: [],
				passwordConfirmation: "",
				passwordConfirmationError: [],
				errorState: false,
				loaded: false
			};
		},

		created() {
			this.loaded = true;
			try {
				const decodedToken = jwt_decode( this.token );
				this.username = decodedToken.context.username;
				this.email = decodedToken.context.email;
			} catch( err ){
				this.badToken = "Bad token, man.";
			}
		},
		methods: {
			...mapActions( ["login"] ),

			keyPress( e ){
				if( !this.errorState ) return;

				let field = e.target.id.substring( "inputConfirm".length );
				field = field.charAt( 0 ).toLowerCase() + field.slice( 1 );
				this[field + "Error"] = [];

				const errorFields = Object.getOwnPropertyNames( this.$data ).filter( name => name.endsWith( "Error" ) );
				const withErrors = errorFields.filter( field => this.$data[field].length > 0 );
				if( withErrors.length !== 0 ) return;
				this.errorState = false;
			},

			submit(){
				if( this.password !== this.passwordConfirmation ){
					this.passwordConfirmationError = ["The password confirmation doesn't match your actual password."];
					this.errorState = true;
				}

				if( this.password.trim().length === 0 ){
					this.passwordError = ["A password is required."];
					this.errorState = true;
				} else if( this.password.trim().length < 6 ){
					this.passwordError = ["A valid password is at least 6 characters long."];
					this.errorState = true;
				}

				if( this.errorState ) return;

				updatePassword( this.token, this.password ).then( response => {
					alert( "Password change succesful!" );
					return this.login( { username: this.username, password: this.password, redirect: `/profiles/${ this.username }` } );
				}).catch( err => {
					console.log( err );
					alert( "There was a problem updating your password!" )
				});
			}
		}
	}
</script>
