<template>
	<article class="news-item">
		<section class="news-item-image">
			<object ref="thumbnail" type="image/jpg" :data="thumb"/>
		</section>
		<section class="news-item-content">
			<time class="news-item-publishedon faded">Published on: {{ item.publishedOn ? item.publishedOn : "Awaiting publication..." }}</time>
			<div class="news-item-heading">
				{{ item.title }}
				<div class="news-item-description faded" v-html="item.description"/>
			</div>
		</section>
		<section class="news-item-chevron" style="transform: translate( 0, -5px );">
			<div v-if="isSuperUser" title="Delete this item from the database and the site.  Kind of a big deal.  Please be careful." @click.prevent.stop="deleteItem" style="font-size: 0.6em; background: rgba(0,0,0,0); width: 25px; padding-left: 5px; padding-right: 5px">✕</div>
			<span v-else>&#8250;</span>
		</section>
	</article>
</template>

<style lang="less">
	@import (reference) "../../../assets/main.less";

	.news-item {
		@contentHeight: 137px;
		@interItemMargin: 15px;
		@internalMargin: 8%;
		line-height: 2.6rem;

		display: flex;
		margin: 12px 0;
		width: 100%;

		opacity: 0.9;

		&:hover{
			background: linear-gradient(to right, desaturate( lighten( @brand-primary, 40% ), 25% ), rgba( 255, 255, 255, 0 ));
			cursor: pointer;

			opacity: 1.0;

			.news-item-chevron {
				opacity: 0.5;
			}
		}

		section {
			position: relative;
			margin: 0;
		}

		.news-item-chevron {
			align-self: center;
			font-size: 48px;
			transform: translate( 0, -5px );
			padding-left: 15px;
			opacity: 0.2;
		}

		.news-item-image {
			width: 230px;
			flex: 0 0 auto;
			background: desaturate( @brand-tertiary, 50%) url( @icon-win-logo-background );
			background-size: cover;
			background-repeat: no-repeat;
			border: 1px solid lighten( mediumpurple, 30% );

			&:before {
				float: left;
				content: "";
				padding-bottom: 62.5%;
			}

			&:after {
				clear: both;
				content: "";
				display: table;
			}

			object {
				width: 100%;
				position: absolute;
			}
		}

		.news-item-content {
			min-height: @contentHeight;
			height: @contentHeight;
			overflow: hidden;
			padding-left: 20px;
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;

			.news-item-publishedon {
				font-size: 0.8em;
			}

			.news-item-heading {
				font-size: 1.1em;
				flex: 1 1 auto;
			}

			.news-item-description {
				font-size: 0.85em;
			}
		}
	}
</style>

<script type="text/babel">
	import { mapState, mapGetters, mapActions } from "vuex";

	export default {
		name: "newsItem",
		props: ["item"],
		computed: {
			...mapState(["session"]),
			...mapGetters(["isAdmin", "isSuperUser"]),
			thumb(){
				const { thumbnail } = this.$refs;
				if( thumbnail ){
					const parentNode = thumbnail.parentNode;
					const newThumbnailEl = thumbnail.cloneNode( false );
					newThumbnailEl.setAttribute( "data", this.item.thumbnail );
					parentNode.replaceChild( newThumbnailEl, thumbnail );
					this.$refs.thumbnail = newThumbnailEl;
				}
				return this.item.thumbnail;
			}
		},
		methods: {
			...mapActions(["deleteNewsItem"]),
			deleteItem(){
				this.deleteNewsItem( this.item );
			}
		}
	}
</script>
