<template lang="html">
	<modal returnTo="/#news">
		<news-item-details v-if="item" :item="item"/>
	</modal>
</template>

<script type="text/babel">
	import { mapState } from "vuex";
	import Modal from "../../../components/Modal.vue";
	import NewsItemDetails from "./NewsItemDetails.vue";

	export default{
		components: {
			Modal, NewsItemDetails
		},
		computed: {
			...mapState( ["news"] ),
			item() {
				return this.news.find( n => n.id === this.$route.params.id );
			}
		}
	}
</script>
