<template>
	<article v-if="editable" :class="{ editable: editing }" class="news-details marked">
		<input class="hidden" @change="upload" ref="fileInput" name="file" type="file" accept="image/*">
		<object @click="fileInputClick" style="cursor: pointer;" ref="thumbnail" type="image/jpg" :data="item.thumbnail"/>
		<div style="display: flex;">
			<time class="faded-super" style="flex: 1 1 auto; display: inline-block;">Published {{ item.publishedOn }}</time>
			<div class="editable-actions" >
				<svg v-if="!editing" class="editme" @click="toggleEditMode" style="width: 25px; height: 25px; fill: mediumpurple"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"/></svg>
				<button type="button" v-if="editing" @click="save" class="button-primary mini-button">Save</button>
				<button type="button" v-if="editing" @click="cancel" class="mini-button">Cancel</button>
			</div>
		</div>
		<h1 :class="{ editable: editing }" @input="e => update( 'title', e.target.textContent )" ref="title" style="flex: 1 1 auto; display: block;" :contenteditable="editing">{{ item.title }}</h1>
		<h2 :class="{ editable: editing }" @input="e => update( 'description', e.target.textContent )" ref="description" :contenteditable="editing"><span>{{ item.description }}</span></h2>
		<editable-text @change="e => update( 'content', e )" :editable="editing" ref="content" :htmlContent="edited.content"></editable-text>
	</article>
	<article v-else class="news-details marked">
		<object class="news-details-image" ref="thumbnail" type="image/jpg" :data="item.thumbnail"/>
		<time class="faded-super">Published {{ item.publishedOn }}</time>
		<h1>{{ item.title }}</h1>
		<h2><span>{{ item.description }}</span></h2>
		<div v-html="item.content"/>
	</article>
</template>

<style lang="less">
	@import (reference) "../../../assets/main.less";

	article.news-details {
		@m: 60px;
		/*margin: 20px auto;*/
		margin-top: 50px;
		padding-bottom: 50px;
		background: white;
		display: flex;
		flex-direction: column;
		font-size: 0.9em;
		img {
			width: 100%;
		}

		.editme {
			&:hover {
				cursor: pointer;
			}
		}

		@media (min-width: 576px) {
			width: 520px;
		}

		@media (min-width: 768px) {
			width: 680px;
			font-size: 1em;
		}

		@media (min-width: 992px) {
			width: 800px;
			font-size: 1em;
		}

		& > time, & > div {
			padding: 10px @m;
		}

		& > h1, & > h2 {
			margin-left: @m;
			margin-right: @m;
			min-width: 2px;

			&.editable {
				padding: 5px;
				border: 2px solid transparent;
				border-bottom: 2px dotted fade( mediumpurple, 20% ) !important;

				&:hover {
					cursor: pointer;
					background: fade( mediumpurple, 10% );
				}

				&:focus, &:active {
					outline: none;
					background: white;
					border: 2px solid fade( mediumpurple, 20% ) !important;
				}
			}
		}

		& > textarea {
			margin: 10px @m;
		}

		object, .news-details-image {
			width: 100%;
			display: inline-block;
			background: desaturate( lighten( @brand-primary, 35% ), 35% ) url( @icon-win-logo-background );
			background-size: cover;
			background-repeat: no-repeat;

			&:before {
				float: left;
				content: "";
				padding-bottom: 62.5%;
			}

			&:after {
				clear: both;
				content: "";
				display: table;
			}
		}

		time {
			font-size: 0.8em;
		}

		textarea {
			flex: 1 0 100%;
			height: inherit;
		}
	}

</style>

<script type="text/babel">
	import { mapState, mapGetters, mapActions } from "vuex";
	import EditableText from "../../../components/editable/EditableText.vue";
	import { updateNewsPhoto } from "../../../api/index";

	export default {
		name: "NewsItemDetails",
		props: ["item"],
		components: {
			"editableText": EditableText
		},
		data(){
			return {
				editing: false,
				edited: JSON.parse( JSON.stringify( this.item ))
			}
		},
		computed: {
			...mapGetters( ["isSuperUser"] ),
			editable(){
				return this.isSuperUser || this.isAdmin;
			}
		},
		methods: {
			...mapActions( ["updateNewsItem"] ),
			fileInputClick: function( e ){
				this.$refs.fileInput.click();
			},

			update( property, value ){
				this.edited[property] = value;
			},

			toggleEditMode(){
				this.editing = !this.editing;
			},

			save(){
				this.updateNewsItem( this.edited );
				this.editing = false;
			},

			cancel(){
				this.editing = false;
				this.edited = JSON.parse( JSON.stringify( this.item ));
				this.$refs.title.innerText = this.item.title;
				this.$refs.description.innerText = this.item.description;
			},

			upload( e ){
				const file = e.target.files[0];
				updateNewsPhoto( this.item.id, file ).then( result =>{
					let { thumbnail } = this.item;
					const queryLoc = thumbnail.indexOf( "?" );
					const cachebuster = "?cachebuster=" + Date.now();
					if( queryLoc > 0 ) thumbnail = thumbnail.substr( 0, queryLoc ) + cachebuster;
					else thumbnail += cachebuster;
					const { thumbnail: thumbnailEl } = this.$refs;

					const parentNode = thumbnailEl.parentNode;
					const newThumbnailEl = thumbnailEl.cloneNode( false );
					newThumbnailEl.setAttribute( "data", thumbnail );
					parentNode.replaceChild( newThumbnailEl, thumbnailEl );
					this.$refs.thumbnail = newThumbnailEl;
					this.item.thumbnail = thumbnail;
					this.edited.thumbnail = thumbnail;
				} ).catch( e => {
					if( e.body ) alert( e.body.join("; "));
					console.log( e );
				});
			}
		}
	}
</script>
