<template lang="html">
	<div class="news wincanada-container-content" style="margin: auto;">
		<h3>
			<span v-bind:style="{ color: mode === 'news' ? 'rgba( 0, 0, 0, 0.7 )' : 'rgba( 0, 0, 0, 0.3 )' }" @click="mode = 'news'">WiN Canada News</span> |
			<span v-bind:style="{ color: mode === 'twitter' ? 'rgba( 0, 0, 0, 0.7 )' : 'rgba( 0, 0, 0, 0.3 )' }" @click="twit()">Twitter Feed</span> </h3>
		<div v-show="mode === 'news'" class="news-items">
			<div v-if="isSuperUser" class="news-item-new" @click="createItem">Create News Item</div>
			<!--<news-item v-if="isAdmin" :item="dummyItem()" @click.native="showItem( item )"/>-->
			<news-item v-if="isSuperUser" v-for="item in unpublishedNews" :item="item" @click.native="showItem( item )" :key="item.id"/>
			<news-item v-for="item in publishedNews" :item="item" @click.native="showItem( item )" :key="item.id"/>
		</div>
		<div id="twitcan" v-show="mode === 'twitter'" style="padding: 50px; box-shadow: 0 0 150px rgba(0, 0, 0, 0.17);">
			<a id="twit" class="twitter-timeline" data-width="100%" data-height="2024" data-theme="light" href="https://twitter.com/win_canada">Tweets by win_canada</a>
		</div>
	</div>
</template>

<style lang="less">
	@import (reference) "../../../assets/main.less";

	.news {
		h3 {
			color: rgba( 0, 0, 0, 0.3);
			text-align: center;
			padding: 15px;
			span {
				cursor: pointer;
				display: inline-block;
				&:hover {
					color: rgba( 0, 0, 0, 0.8);
					opacity: 1.0;
				}
			}
		}
		margin-bottom: 70px;

		.news-item-new {
			padding-left: 250px;
			opacity: 0.7;
			text-transform: uppercase;
			font-size: 0.9em;
			font-weight: bold;
			&:hover {
				opacity: 1.0;
				cursor: pointer;
			}
		}

		.news-items {
			margin: auto;
			max-width: 1500px;
			display: flex;
			flex-wrap: wrap;
		}
	}

	.news > ul {
		list-style-type: none;
	}
</style>

<script type="text/babel">
	import { mapState, mapActions, mapGetters } from "vuex";
	import { formatDateCompressed } from "../../../utils/Month";
	import NewsItem from "./NewsItem.vue"

	export default{
		name: "NewsView",
		components: { NewsItem },
		created () {
			this.fetchNews();
		},
		data(){
			return {
				mode: "news",
				dummyItem: {
					id: "new",
					title: "Create a News Item",
					description: "Enter your description here",
					content: "This is some dummy content for your News Item.",
					createDate: formatDateCompressed( new Date(), "-" ),
					publishedOn: formatDateCompressed( new Date(), "-" ),
				}
			};
		},
		mounted(){
			twttr.widgets.load( document.getElementById( "twit" ) );
		},
		computed: {
			...mapGetters( ["publishedNews", "unpublishedNews", "isSuperUser"] )
		},
		methods: {
			...mapActions( ["fetchNews", "createNewsItem"] ),
			twit: function(){
				this.mode = "twitter";
				// the only way I could figure out how to refresh the iframe
				const el = document.getElementById( "twitcan" );
				el.style.padding = "51px";
				setTimeout(() => el.style.padding = "50px", 200 );
			},
			showItem: function( item ){
				this.$router.push( { path: `/news/${ item.id }` } );
			},
			createItem: function(){
				this.createNewsItem();
			}
		}
	}
</script>
