<template>
	<div class="quill-editor">
		<component style="padding: 0" :is="currentView" v-bind="currentViewProps" v-on="currentViewOn" keep-alive></component>
	</div>
</template>

<style lang="less" rel="stylesheet/less">
	.quill-editor {
		padding: 0;

		/*h1, h2, h3, h4, h5, h6 {*/
			/*font-size: initial !important;*/
			/*line-height: initial !important;*/
		/*}*/

		img {
			width: 100%;
		}
	}

	.ql-indent-1 {
		margin-left: 40px;
	}

	.ql-indent-2 {
		margin-left: 80px;
	}

	.ql-align-center {
		text-align: center;
	}

	.ql-align-right {
		text-align: right;
	}

	.ql-container .ql-editor {
		font-family: "Open Sans";
		font-size: 1.5rem;
		line-height: 1.7em;
	}

	.ql-toolbar.ql-snow {
		button {
			margin: 0;
		}
	}
</style>

<script>
	import HtmlText from "./HtmlText.vue";

	export default {
		name: "EditableText",
		props: [
			"htmlContent",
			"editable",
		],
		components: {
			"htmlViewer" : HtmlText
		},
		created(){
			if( this.editable === true ) this.loadEditor();
		},
		data() {
			return {
				currentView: HtmlText,
				currentViewProps: {
					content: this.htmlContent
				},
				currentViewOn: {}
			};
		},
		watch: {
			editable( value ){
				if( value ) this.loadEditor();
				else {
					this.currentView = HtmlText;
					this.currentViewProps.content = this.htmlContent;
				}
			}
		},
		methods: {
			loadEditor(){
				if( this.currentView !== HtmlText ) return; // quill is loaded or loading
				if( this.QuillEditor ){
					this.currentView = this.QuillEditor;
					this.currentViewProps.content = this.htmlContent;
				}
				this.QuillEditor = () => import( "../quill/QuillEditor.vue" );
				this.QuillEditor().then( editor =>{
					this.currentView = editor;
					this.currentViewOn = {
						"change": ({ html, text, delta }) => {
							this.$emit( "change", html, text, delta );
						}
					};
					this.currentViewProps = {
						content: this.currentViewProps.content,
						options: {
							placeholder: "Edit stuff",
							modules: {
								toolbar: [
									[{ "header": [1, 2, 3, false] }],
									["bold", "italic", "underline"],
									[{ "color": [] }, { "background": [] }],
									["blockquote"],
									[{ "list": "bullet" }],
									[{ "indent": "-1"}, { "indent": "+1" }],
									[{ "align": [] }],
									["link", "image"]
								]
							}
						}
					};
				});
			}
		}
	}
</script>
