<template lang="html">
	<div v-if="heading" class="user" style="padding-top: 20px; padding-bottom: 5px; border-bottom: 1px solid mediumpurple;">
		<div class="user-email-width user-heading">
			Name & Email (username)
		</div>
		<div class="user-chapter-width user-heading">
			Chapter
		</div>
		<div class="user-optin-width user-heading">
			Mailing List
		</div>
		<div class="user-profile-updated-width user-heading">
			Profile Updated
		</div>
		<div class="user-roles-width user-heading">
			Special Roles
		</div>
	</div>
	<div v-else class="user user-hoverable" v-on:click="gotoProfile">
		<div class="user-name">
			{{ user.firstName }} {{ user.lastName }} &nbsp; <span style="opacity: 0.5">({{ user.username }})</span>
		</div>
		<div class="user-actions">
			<div v-if="isAdmin && session.username !== user.username" v-on:click.prevent.stop="delUser" style="background: rgba(0,0,0,0); width: 25px; padding-left: 5px; padding-right: 5px">✕</div>
		</div>
		<div class="user-email">
			<div class="user-chip user-status" v-if="user.status !== 'ACTIVATED'"
				:class="{
					'user-status-pending': user.status === 'PENDING',
					'user-status-deactivated': user.status === 'DEACTIVATED',
					'user-status-unconfirmed': user.status === 'UNCONFIRMED'
				}">
				{{ user.status }}
			</div>
			<div class="user-ellipsis" :title="user.email">{{ user.email }}</div>
		</div>
		<div class="user-chapter">
			{{ user.chapter }}
		</div>
		<div class="user-optin">
			{{ user.optIn == 1 ? "Subscribed" : "Unsubscribed" }}
		</div>
		<div class="user-profile-updated" :class="{ 'user-faded': !user.profileUpdateDate }">
			{{ user.profileUpdateDate ? new Date( user.profileUpdateDate ).toLocaleDateString( "en-CA" ) : "No profile."}}
		</div>
		<div class="user-roles" :class="{ 'user-faded': user.roles.length === 0 }">
			{{ user.roles.length === 0 ? "Normal member." : user.roles.join( ", " ) }}
		</div>
	</div>
</template>

<style lang="less">

	.user-ellipsis {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.user-hoverable {
		&:hover {
			cursor: pointer;
			background-color: lighten(mediumpurple, 32%);
		}
	}

	.user {
		position: relative;
		display: flex;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 32px;
		padding-bottom: 32px;
		border-bottom: 1px solid rgba( 0, 0, 0, 0.1 );
		font-size: 0.9em;
		font-weight: bold;

		.user-heading {
			text-transform: uppercase;
			color: mediumpurple;
			font-size: 0.8em;
		}

		.user-email-width {
			width: 250px;
		}

		.user-email {
			.user-email-width;
		}

		.user-name {
			color: mediumpurple;
			position: absolute;
			font-size: 1.5em;
			top: 5px;
		}

		.user-actions {
			position: absolute;
			z-index: 2;
			right: 0px;
			top: 27px;
			color: mediumpurple;
			opacity: 0.6;
			font-size: 1.5em;
			&:hover {
				opacity: 1.0;
				cursor: pointer;
			}

			div {
				display: inline-block;
			}
		}

		.user-status {
			position: absolute;
			top: 55px;
		}

		.user-username {
			width: 180px;
			.user-ellipsis;
		}

		.user-chapter-width {
			width: 170px;
		}

		.user-chapter {
			.user-chapter-width
		}

		.user-optin-width {
			width: 100px;
		}

		.user-optin {
			.user-optin-width;
		}

		.user-profile-updated-width {
			width: 130px;
		}

		.user-profile-updated {
			.user-profile-updated-width;
		}

		.user-roles-width {
			width: 290px;
		}

		.user-roles {
			.user-roles-width;
		}

		.user-faded {
			opacity: 0.5;
			font-weight: normal;
		}

		.user-chip {
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
		}

		.user-status-deactivated {
			color: orangered;
		}

		.user-status-pending {
			color: forestgreen;
		}

		.user-status-uncomfirmed {
			color: royalblue;
		}
	}
</style>

<script type="text/babel">
	import { mapGetters, mapActions, mapState } from "vuex";
	import { gotoProfile } from "../../../api";

	export default {
		name: "User",
		props: ["user", "heading"],
		computed: {
			...mapGetters(["isAdmin", "isSuperUser", "isChapterLead"]),
			...mapState( ["session"] )
		},
		methods: {
			...mapActions( ["deleteUser"] ),

			gotoProfile(){
				gotoProfile( this.user.username );
			},

			delUser(){
				const answer = confirm( `You are certain you want to delete ${ this.user.firstName }  ${ this.user.lastName }?` );
				if( !answer ) return;
				this.deleteUser( this.user.username );
			}
		}
	}
</script>
