<template lang="html">
    <div>
		<hero hero-name="admin_users" hero-num=1>
			<h3>User Management</h3>
		</hero>
		<div style="padding-top: 30px; max-width: 1000px; margin: auto;">
			<div style="font-size: 0.8em; text-align: center;">
				<input placeholder="Find matching text" type="text" size="40" @input="onMatchInput">
				<select @input="onStatusChange">
					<option value="">All States</option>
					<option selected value="ACTIVATED">Status: Activated</option>
					<option value="DEACTIVATED">Status: Deactivated</option>
					<option value="PENDING">Status: Pending</option>
					<option value="UNCONFIRMED">Status: Unconfirmed</option>
				</select>
				<select @input="onChapterChange">
					<option value="">All Chapters</option>
					<option v-for="chapter in chapters" :value="chapter.name">{{ chapter.name }}</option>
				</select>
				<select @input="onRoleChange">
					<option value="">All Roles</option>
					<option value="Members At Large">Role: Members at Large</option>
					<option value="President">Role: President</option>
					<option value="Secretary">Role: Secretary</option>
					<option value="Past President">Role: Past President</option>
					<option value="Administrator">Role: Administrator</option>
					<option value="Treasurer">Role: Treasurer</option>
					<option value="Board Member">Role: Board Member</option>
					<option value="Chapter Lead">Role: Chapter Lead</option>
					<option value="Super User">Role: Super User</option>
				</select>
				<select @input="onSubscribedChange">
					<option value="">Subscribed or Unsubscribed</option>
					<option value="1">Subscribed</option>
					<option value="0">Unsubscribed</option>
				</select>
			</div>
			<div v-if="loading" style="position: relative; margin: auto; width: 60px; height: 200px;">
				<spinner style="
					position:absolute; z-index: 3;
					border-top: 0.4em solid rgba(0, 0, 0, 0.2);
					border-right: 0.4em solid rgba(0, 0, 0, 0.2);
					border-bottom: 0.4em solid rgba(0, 0, 0, 0.2);
					border-left: 0.4em solid rgba( 0, 0, 0, 0.5 );
				"/>
			</div>
			<div v-else>
				<div style="text-align: center; height: 15px;">
					<span id="users-download" @click="downloadUsers" v-if="filteredUsers.length > 0" >
						download {{ filteredUsers.length.toString().replace( /\B(?=(\d{3})+(?!\d))/g, ",") }} {{ filteredUsers.length === 1 ? "user." : "users." }}
					</span>
				</div>
				<user heading="true"/>
				<div v-if="filteredUsers.length === 0" style="color: mediumpurple; text-align: center; padding-top: 30px;">
					No users found.  Please expand your filtering criteria.
				</div>
				<div class="users">
					<user key="user.username" v-for="user in filteredUsers" :user="user"/>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="less">
	.users {
		font-size: 0.9em;
		padding-bottom: 100px;
	}

	.user-header {
		background-size: cover;
		height: 68px;
	}

	.user-header-fade {
		position: absolute;
		width: 100%;
		margin: 0;
		height: 68px;
		background: rgba( 0,0,0,0.5);
	}

	#users-download {
		opacity: 0.6;
		&:hover {
			opacity: 0.9;
			cursor: pointer;
		}
	}

</style>

<script type="text/babel">
	import { mapState, mapActions, mapGetters } from "vuex";
	import debounce from "lodash.debounce";
	import Hero from "../../../components/Hero.vue";
	import Spinner from "../../../components/Spinner.vue";

	import User from "./User.vue";

	const filterByChapter = ( chapter ) => {
		return ( user ) => user.chapter === chapter;
	};

	const filterByStatus = ( status ) => {
		return ( user ) => user.status.indexOf( status ) === 0;
	};

	const filterByOptIn = ( state ) => {
		return ( user ) => user.optIn === state;
	};

	const filterByRole = ( role ) => {
		return ( user ) => user.roles.indexOf( role ) !== -1;
	};

	const filterByMatch = ( match ) => {
		return ( user ) => user.searchFields.indexOf( match ) !== -1;
	};

	export default {
		data(){
			return {
				loading: false,
				match: "",
				optIn: undefined,
				status: "ACTIVATED",
				role: "",
				chapter: "",
			}
		},
		components: {
			User,
			Spinner,
			Hero
		},
		computed: {
			...mapGetters(["isAdmin", "isSuperUser", "isChapterLead"]),
			...mapState( ["session", "users", "chapters"] ),
			filteredUsers(){
				return this.filterUsers();
			}
		},
		methods: {
			...mapActions( ["fetchUsers", "fetchChapters"] ),
			onMatchInput: debounce( function( e ){
				this.match = e.target.value;
				this.filterUsers();
			}, 400),
			onRoleChange: debounce( function( e ){
				this.role = e.target.value;
				this.filterUsers();
			}, 100),
			onSubscribedChange: debounce( function( e ){
				this.optIn = e.target.value === "" ? undefined : e.target.value;
				this.filterUsers();
			}, 100),
			onStatusChange: debounce( function( e ){
				this.status = e.target.value;
				this.filterUsers();
			}, 100),
			onChapterChange: debounce( function( e ){
				this.chapter = e.target.value;
				this.filterUsers();
			}, 100),
			filterUsers(){
				const filters = [];
				const m = this.match.trim().toLowerCase();
				let users;

				if( this.status && this.status.length > 0 ) filters.push( filterByStatus( this.status ));
				if( this.role && this.role.length > 0 ) filters.push( filterByRole( this.role ));
				if( this.chapter && this.chapter.length > 0 ) filters.push( filterByChapter( this.chapter ));
				if( typeof( this.optIn ) !== "undefined" ){
					filters.push( filterByOptIn( this.optIn ))
				}
				if( m.length !== 0 ) filters.push( filterByMatch( m ));

				if( filters.length === 0 ) {
					users = this.users;
				} else {
					users = this.users.filter( user => {
						for( let i = 0; i < filters.length; i++ ){
							if( !filters[i]( user )) return false;
						}
						return true;
					});
				}

				users.sort(( a, b ) => ( a.lastName + a.firstName ).localeCompare( b.lastName + b.firstName ));

				const result = [];
				for (let i = 0; i < users.length; i++) {
					const user = users[i];
					result.push({
						firstName: user.firstName,
						lastName: user.lastName,
						username: user.username,
						email: user.email,
						chapter: user.chapter,
						optIn: user.optIn,
						profileUpdateDate: user.profileUpdateDate,
						updatedOn: user.updatedOn,
						createdOn: user.createdOn,
						publish: user.publish,
						status: user.status,
						roles: user.roles
					});
				}

				this.loading = false;
				return result;
			},
			loadUsers(){
				this.loading = true;
				this.fetchUsers().then( () => {
					this.filterUsers();
					this.loading = false
				} );
			},
			downloadUsers(){
				const users = this.filterUsers();
				if( users.length === 0 ) return;

				const rows = [
					"First Name, Last Name, Username, Email, Chapter, Opt-In, Updated On, Created On, Status"
				];
				users.forEach( u => {
					rows.push(
						u.firstName + "," +
						u.lastName + "," +
						u.username + "," +
						u.email + "," +
						u.chapter + "," +
						u.optIn + "," +
						u.updatedOn + "," +
						u.createdOn + "," +
						u.status
					);
				});
				const filename = "export.csv";
				const csv = 'data:text/csv;charset=utf-8,' + rows.join( "\n" );
				const link = document.createElement('a');
				link.setAttribute('href', encodeURI(csv));
				link.setAttribute('download', filename);
				link.click();
			}
		},
		created () {
			this.fetchChapters();
			this.loadUsers();
		}
	}
</script>
