<template lang="html">
	<div class="about">
		<hero hero-name="about" hero-num=1>
		</hero>
		<div class="wincanada-container wincanada-container-background">
			<h2 class="page-title">We are Women in Nuclear</h2>
			<p>
				Women ln Nuclear (WiN) is a worldwide association of individuals, focusing on women, working in various
				fields of nuclear energy and radiation applications. <b>Women in Nuclear (WiN) Canada</b>, is the Canadian
				chapter of <b><a href="https://www.win-global.org/">WiN Global</a></b>.
			</p>
			<h3>WiN's Vision</h3>
			<p>
				To make the public aware, especially women, of the benefits of nuclear and radiation applications
				and of the safety that ensures protection of the public and the environment.
			</p>
			<h3>WiN's Mission</h3>
			<p>
				WiN-Canada aims to <b>develop a dialogue</b> with the public to promote factual awareness about the
				contribution to people and society from nuclear technologies.  WiN-Canada is also focused on
				<b>contributing to knowledge and experience exchange</b> among members and chapters, both in Canada and
				internationally.  Finally, WiN-Canada works to <b>promote career interest</b> in nuclear engineering, science,
				technology, the trades and other nuclear-related professions, especially among women and young people.
			</p>
			<p style="padding-top: 40px;">
				Since its inception in 2004, WiN Canada has seen its membership grow to over 2,800 women and men
				working in various fields of nuclear energy and radiation applications.  Our membership represents
				not only skilled and technical disciplines, but also individuals who support the industry, such as
				lawyers, accountants, financial professionals, communications professionals, sales, and administrators.
			</p>
			<p>
				Membership with WiN Canada provides the opportunity to connect with other industry professionals
				through mentoring, networking, professional development, and advocacy initiatives.
				Membership with WiN Canada is free! <router-link to="login">Join today</router-link>.
			</p>

			<section>
				<h3 style="text-align: center; padding-top: 20px;">Our Chapters</h3>
				<article v-for="chapter in chapters" v-if="chapter.name !== 'Unknown' && chapter.name !== 'Canada' && chapter.name !== 'Global'">
					<h4>{{ chapter.name }}</h4>
					<p>{{ chapter.description }}</p>
				</article>
			</section>
			<section>
				<h3 style="text-align: center; padding-top: 20px;">Our Board Members</h3>
				<p>
					WiN Canada's Board of Directors is comprised of the President, Vice President, Chapter Leads, a Treasurer, a Secretary and a
					number of Members at Large.  The President's role, as well as the newly introduced Vice President's role, are elected
					positions that are open to the membership.  They are two year terms with the potential for renewal for one additional
					consecutive term.  All other board members have the opportunity to sit on the Board for a two year term, with
					the potential for renewal for two additional consecutive terms.  These are also elected positions and are open to
					all members of WiN Canada.  Watch WiN Canadas email notices and social media for elections updates.
				</p>
				<div v-marked="board"/>
			</section>
		</div>
	</div>
</template>
<style lang="less" rel="stylesheet/less">
	@import (reference) "../../assets/main.less";

	.about-header {
		background: url(/img/win2.jpg) no-repeat center top;
		background-size: cover;
		height: 100vh;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		.header-fade {
			height: 400px;
			background: linear-gradient( rgba( 0,0,0,0.3), rgba( 0,0,0,0) );
			margin: 0;
		}
		.header-content {
			color: white;
			padding-top:100px;
			background: linear-gradient( rgba( 0,0,0,0.0), rgba( 0,0,0,0.5) );
		}
	}

	.about {
		th, td {
			border-bottom: none;
		}
	}

</style>

<script type="text/babel">
	import { mapState, mapActions } from "vuex";
	import Hero from "../../components/Hero";


	export default{
		components: { Hero },
		created () {
			this.fetchContacts();
			this.fetchChapters();
		},
		methods: {
			...mapActions( ["fetchChapters", "fetchContacts"] ),
			getPeople: function( role ){
				return this.contacts.filter( c => c.role === role );
			}
		},
		computed: {
			...mapState( ["chapters", "contacts"] ),
			board: function(){
				let result = "|  |  |\n| --- | --- |\n";

				let who = "President";
				let p = this.getPeople( who );
				if( p && p.length ) result += `| ${ who }: | ${ p[0].name } (${p[0].employer}) |\n`;

				who = "Past President";
				p = this.getPeople( who );
				if( p && p.length ) result += `| ${ who }: | ${ p[0].name } (${p[0].employer}) |\n`;

				who = "Vice President";
				p = this.getPeople( who );
				if( p && p.length ) result += `| ${ who }: | ${ p[0].name } (${p[0].employer}) |\n`;

				who = "Treasurer";
				p = this.getPeople( who );
				if( p && p.length ) result += `| ${ who }: | ${ p[0].name } (${p[0].employer}) |\n`;

				who = "Secretary";
				p = this.getPeople( who );
				if( p && p.length ) result += `| ${ who }: | ${ p[0].name } (${p[0].employer}) |\n`;

				who = "Members At Large";
				p = this.getPeople( who );

				if( p && p.length ){
					result += `| ${ who }: | ${ p[0].name } (${p[0].employer}) |\n`;
					for( let i = 1; i < p.length; i++ ){
						result += `| | ${ p[i].name } (${p[i].employer}) |\n`;
					}
				}

				return result;
			}
		}
	}
</script>
