<template lang="html">
	<div id="app">
		<navbar/>

		<keep-alive v-if="$route.path !== '/'">
			<router-view id="app-content" class="view"></router-view>
		</keep-alive>
		<router-view v-if="$route.path === '/'" id="app-content" class="view"></router-view>

		<div class="app-footer" style="position: relative; overflow:hidden; bottom: 0;">
			<main-footer/>
			<div style="position: absolute; top:0; left: 0; right: 0; width: 100%; overflow: hidden;">
				<svg id="swirl" style="opacity: 0.05; height: 1800; width: 1800; fill: pink;">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#win-logo"/>
				</svg>
			</div>
		</div>
	</div>
</template>

<style lang="less">
@import "./assets/main.less";
	#app {
		display: flex;
		height: 100vh;
		flex-direction: column;
	}

	.container {
		background: white;
		border: 1px solid rgba( 255, 255, 255, 0.1 );
	}

	.app-footer {
		flex: 0 0 auto;
		background: darken( desaturate( @brand-primary, 25% ), 35% );
		border-top: 1px solid black;
	}

</style>

<script type="text/babel">
	import Navbar from "./views/Navbar.vue";
	import MainFooter from "./views/MainFooter.vue";

	const files = require.context( "./assets/icons", false, /\.svg$/ );
	files.keys().forEach( files );

	export default {
		name: "app",
		components: { Navbar, MainFooter }
	}
</script>
