<template lang="html">
	<section class="editable-block">
		<div class="editable-heading" style="display: flex;">
			<div style="flex: 1 1 auto;"><h4>{{ title }}</h4></div>
			<div v-if="editable" class="editable-actions" >
				<svg v-if="!editMode" @click="toggleEditMode" style="width: 25px; height: 25px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"/></svg>
				<button type="button" v-if="editMode" @click="save" class="button-primary mini-button">Save</button>
				<button type="button" v-if="editMode" @click="cancel" class="mini-button">Cancel</button>
			</div>
		</div>
		<editable-text v-on:change="textEdited" :editable="editMode" :htmlContent="content"></editable-text>
	</section>
</template>

<script>
	import EditableText from "../../components/editable/EditableText.vue";

	export default {
		name: "EditableBlock",
		components: {
			"editableText": EditableText
		},
		props: [
			"editable",
			"content",
			"title"
		],
		data(){
			return {
				savedContent: undefined,
				editMode: false
			}
		},
		methods: {
			textEdited( html, text, delta ){
				this.savedContent = {
					html, text, delta
				};
			},
			toggleEditMode(){
				this.editMode = !this.editMode;
			},
			cancel(){
				this.editMode = false;
			},
			save(){
				this.$emit( "save", this.savedContent );
				this.editMode = false;
			}
		}
	}
</script>

<style lang="less">
	@import (reference) "../../assets/main.less";

	.editable-block {
		align-items: baseline;

		.editable-heading {
			svg {
				fill: @title-color;
				opacity: 0.8;

				&:hover {
					opacity: 1.0;
					cursor: pointer;
				}
			}

			.editable-actions {
				margin-top: 3px;
				display: flex;
			}
		}
	}
</style>
