<template lang="html">
	<section class="edit-profile">
		<form @submit.prevent="save" style="width: 100%;">
			<div class="editable-actions" >
				<input type="submit" class="button-primary" value="Save"/>
				<input type="button" @click="cancel" value="Cancel"/>
			</div>

			<div v-if="errorState" class="confirm-error field-error-red">Please correct the errors below and save again.</div>

			<label v-if="isSuper" for="inputRoles">Roles</label>
			<select v-if="isSuper" class="u-full-width" style="height: 14em;" v-model="edited.roles" id="inputRoles" multiple>
				<option v-for="role in roles" :selected="edited.roles.findIndex( r => r === role ) !== -1">{{ role }}</option>
			</select>

			<label for="inputChapter">Chapter</label>
			<select class="u-full-width" v-model="edited.chapter" id="inputChapter">
				<option v-for="chapter in filteredChapters" :selected="edited.chapter === chapter.name">{{ chapter.name }}</option>
			</select>
			<div class="row">
				<div class="six columns">
					<label for="inputFirstName">First Name</label>
					<input class="u-full-width" placeholder="What is your first name?" @keypress="keyPress" v-model="edited.firstName" type="text" id="inputFirstName"/>
					<div class="confirm-error field-error-red" v-if="firstNameError">{{ firstNameError.join( ", " )}}</div>
				</div>
				<div class="six columns">
					<label for="inputLastName">Last Name</label>
					<input class="u-full-width" placeholder="What is your last name?" @keypress="keyPress" v-model="edited.lastName" type="text" id="inputLastName"/>
					<div class="confirm-error field-error-red" v-if="lastNameError">{{ lastNameError.join( ", " )}}</div>
				</div>
			</div>
			<div class="row">
				<label for="inputJobTitle">Job</label>
				<input class="u-full-width" placeholder="What is your job?" @keypress="keyPress" v-model="edited.jobTitle" type="text" id="inputJobTitle"/>
				<div class="confirm-error field-error-red" v-if="jobTitleError">{{ jobTitleError.join( ", " )}}</div>
			</div>
			<div class="row">
				<label for="inputEmployer">Employer</label>
				<input class="u-full-width" placeholder="Who is your employer?" @keypress="keyPress" v-model="edited.employer" type="text" id="inputEmployer"/>
				<div class="confirm-error field-error-red" v-if="employerError">{{ employerError.join( ", " )}}</div>
			</div>
			<div class="row">
				<label for="inputQualifications">Qualifications</label>
				<input class="u-full-width" placeholder="What are your qualifications?" v-model="edited.qualifications" type="text" id="inputQualifications"/>
			</div>
			<div class="row">
				<label for="inputEmail">Email Address</label>
				<input class="u-full-width" placeholder="What is your email address?" @keypress="keyPress" v-model="edited.email" type="email" id="inputEmail"/>
				<div class="confirm-error field-error-red" v-if="emailError">{{ emailError.join( ", " )}}</div>
			</div>
			<div class="row">
				<label for="inputAddress1">Address</label>
				<input class="u-full-width" placeholder="What is your address?" @keypress="keyPress" v-model="edited.address1" type="text" id="inputAddress1"/>
				<input class="u-full-width" @keypress="keyPress" v-model="edited.address2" type="text" id="inputAddress2"/>
				<div class="confirm-error field-error-red" v-if="addressError">{{ addressError.join( ", " )}}</div>
			</div>
			<div class="row">
				<div class="six columns">
					<label for="inputAddress1">City</label>
					<input class="u-full-width" placeholder="In what city do you work?" @keypress="keyPress" v-model="edited.city" type="text" id="inputCity"/>
					<div class="confirm-error field-error-red" v-if="cityError">{{ cityError.join( ", " )}}</div>
				</div>
				<div class="six columns">
					<label for="inputProvince">Province</label>
					<select class="u-full-width" v-model="edited.province" id="inputProvince">
						<option v-for="p in provinces" :value="p.short" :selected="p.short === edited.province">{{ p.name }}</option>
					</select>
				</div>
			</div>
			<div class="row">
				<label for="inputBackground">Background</label>
				<textarea class="u-full-width" style="resize: none;" rows="5" @keypress="keyPress" placeholder="Tell us a bit about your background?" v-model="edited.background" type="text" id="inputBackground"/>
				<div class="confirm-error field-error-red" v-if="backgroundError">{{ backgroundError.join( ", " )}}</div>
			</div>
			<div class="row">
				<div class="six columns">
					<input type="checkbox" id="inputPublic" v-model="edited.public">
				    <span class="label-body">Make Profile Public</span>
				</div>
				<div class="six columns">
					<input type="checkbox" id="inputOptIn" v-model="edited.optIn">
				    <span class="label-body">Opt-in to receive emails</span>
				</div>
			</div>
		</form>
	</section>
</template>

<style lang="less">
	@import (reference) "../../assets/main.less";

	section.edit-profile {
		display: flex;

		svg {
			fill: @title-color;
			opacity: 0.8;

			&:hover {
				opacity: 1.0;
				cursor: pointer;
			}
		}
	}
</style>

<script>
	import { mapState, mapActions } from "vuex";
	import Email from "../../components/form/Email.vue";

	const validateEmail = ( email ) => {
		const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		return re.test(email);
	};

	export default {
		name: "EditProfile",
		props: {
			editable: {
				type: Boolean,
				default: true
			},
			profile: {
				type: Object,
				required: true
			},
			isSuper: {
				type: Boolean,
				default: false
			}
		},

		components: {
			inputEmail: Email
		},

		created(){
			this.loaded = true;
			this.fetchChapters();
		},

		computed: {
			...mapState( ["chapters", "activeProfile"] ),
			filteredChapters(){
				return this.chapters.filter( c => c.name !== "Global" );
			}
		},

		data(){
			return {
				editing: false,
				edited: JSON.parse( JSON.stringify( this.profile )),
				firstNameError: [],
				lastNameError: [],
				jobTitleError: [],
				employerError: [],
				emailError: [],
				cityError: [],
				addressError: [],
				testEmail: "bob@bob.bob",
				backgroundError: [],
				provinces:[
					{ short: "AB", name: "Alberta" },
					{ short: "BC", name: "British Columbia" },
					{ short: "MB", name: "Manitoba" },
					{ short: "NB", name: "New Brunswick" },
					{ short: "NL", name: "Newfoundland"},
					{ short: "NS", name: "Nova Scotia"},
					{ short: "NT", name: "Northwest Territories" },
					{ short: "NU", name: "Nunavut"},
					{ short: "ON", name: "Ontario"},
					{ short: "PE", name: "PEI"},
					{ short: "QC", name: "Quebec"},
					{ short: "SK", name: "Saskatchewan"},
					{ short: "YT", name: "Yukon"}
				],
				roles: [
					"Standard",
					"Chapter Lead",
					"Board Member",
					"Treasurer",
					"Members At Large",
					"Secretary",
					"Past President",
					"President",
					"Super User",
					"Vice President",
					"Administrator"
				],
				errorState: false
			}
		},

		methods: {
			...mapActions( ["fetchChapters"] ),
			onInput( e ){
				this.edited[e.target.id] = e.target.innerHTML;
			},

			keyPress(e) {
				if( !this.errorState ) return;

				let field = e.target.id.substring( "input".length );
				field = field.charAt( 0 ).toLowerCase() + field.slice(1);
				this[field + "Error"] = [];

				const errorFields = Object.getOwnPropertyNames( this.$data ).filter( name => name.endsWith( "Error" ));
				const withErrors = errorFields.filter( field => this.$data[field].length > 0 );
				if( withErrors.length !== 0 ) return;
				this.errorState = false;
			},

			cancel(){
				this.edited = JSON.parse( JSON.stringify( this.profile ));
				this.$emit( "cancel" );
			},

			save(){
				this.errorState = false;
				if( this.edited.email.trim().length === 0 || !validateEmail( this.edited.email.trim())){
					this.emailError = ["A valid email is required to be a member of WiN Canada."];
					this.errorState = true;
				}

				if( this.edited.city.trim().length === 0 ){
					this.cityError = ["Please let us know which city you are based out of..."];
					this.errorState = true;
				}

				if( this.edited.background.trim().length === 0 ){
					this.backgroundError = ["Please give us a short biography.  Note that this is for internal purposes only."];
					this.errorState = true;
				}

				if( this.edited.firstName.trim().length === 0 ){
					this.firstNameError = ["We'd love to know your first name..."];
					this.errorState = true;
				}

				if( this.edited.lastName.trim().length === 0 ){
					this.lastNameError = ["Your last name is a required field..."];
					this.errorState = true;
				}

				if( this.edited.jobTitle.trim().length === 0 ){
					this.jobTitleError = ["If we know the types of jobs or members hold, we can tailor events to better address our member's needs."];
					this.errorState = true;
				}

				if(this.edited.employer.trim().length === 0 ){
					this.employerError = ["If you aren't employed, simply put 'unemployed' in this field."];
					this.errorState = true;
				}

				if( this.edited.roles.findIndex( r => r === "Standard" ) === -1 ) this.edited.roles.push( "Standard" );

				if( this.errorState ) return;

				if( this.edited.winGlobal === "" ) this.edited.winGlobal = 0;

				this.$emit( "save", this.edited );
				this.editing = false;
			}
		}
	}
</script>

