<template lang="html">
	<div class="profile" :class="{'profile-editable': editable}">
		<div class="profile-header"/>
		<div v-if="profile" class="profile-content" style="transform: translate( 0, -220px );">
			<section class="profile-top" style="margin-bottom: 20px;">
				<div class="profile-photo">
					<object ref="thumbnail" type="image/jpeg" :data="profile.thumbnail"></object>
					<div v-if="loading" style="position:absolute; top: 0; z-index: 2; width: 100%; height: 100%; background: rgba( 255, 255, 255, 0.4 );"></div>
					<spinner v-if="loading" style="position:absolute; z-index: 3; top: -5px; left: 55px;"></spinner>
					<form v-if="editable" style="margin: 0; position: absolute; bottom: 0; transform: translate( 0, 13px );">
						<input class="upload-file-input" @change="uploadProfilePhoto" id="file" name="file" type="file" accept="image/*">
						<label for="file" class="upload-file-input-label" style="height: 30px; margin: 0; bottom: 0;">
							<svg style="width: 24px; height: 24px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#camera"/></svg>
						</label>
					</form>
				</div>
				<div style="align-self: center; padding-left: 10px;">
					<div class="faded" style="text-transform: uppercase; font-size: 0.9em">{{ profile.chapter === "Canada" ? "National" : profile.chapter }} Chapter Member</div>
					<div>
						<div class="profile-field-inline h3" style="margin: 0">{{ profile.firstName }}</div>
						<div class="profile-field-inline h3" style="margin: 0">{{ profile.lastName }}</div>
					</div>
					<div>
						<div class="profile-field-inline">{{ profile.jobTitle }}</div> at
						<div class="profile-field-inline">{{ profile.employer }}</div>
						<div class="profile-field" style="padding-top: 5px; font-size: 0.9em; opacity: 0.5;">{{ profile.qualifications }}</div>
					</div>
				</div>
			</section>
			<button v-if="!editing && editable" class="button-primary" @click="editing = true">Update Profile</button>
			<edit-profile v-if="editing" :isSuper="isSuperUser || isAdmin" :profile="profile" @save="save" @cancel="cancel"></edit-profile>
			<section class="profile-public-fields">
				<editable-block style="margin-bottom: 5px;" :editable="editable" @save="saveBiography" :content="profile.bioBackground" :title="`About ${ profile.firstName}`"></editable-block>
				<div v-if="!editing && (!profile.bioBackground || profile.bioBackground.length === 0)" style="font-style: italic; opacity: 0.5;">
					Unfortunately, there's no biography for {{ profile.firstName }} yet.
				</div>
			</section>
		</div>
	</div>
</template>

<script>
	import { mapState, mapActions, mapGetters } from "vuex"
	import Spinner from "../../components/Spinner.vue";
	import EditableBlock from "./EditableBlock.vue";
	import EditProfile from "./EditProfile.vue";
	import * as api from "../../api/index";

	export default {
		name: "ProfileView",
		components: {
			"spinner": Spinner,
			"editableBlock": EditableBlock,
			"editProfile": EditProfile
		},
		props: ["username"],
		created () {
			this.fetchProfile( this.username );
		},
		data(){
			return {
				html: undefined,
				loading: false,
				dirty: false,
				editing: false
			}
		},
		watch: {
			"$route": function(){
				this.clearActiveProfile();
				this.fetchProfile( this.username );
			}
		},
		computed: {
			...mapGetters( ["isAdmin", "isSuperUser"] ),
			...mapState( ["session", "activeProfile"] ),
			profile(){
				return this.activeProfile;
			},
			biography(){
				return this.activeProfile.bioBackground
			},
			editable(){
				return !this.readOnly;
			},
			readOnly(){
				if( !this.activeProfile ) return true;
				return this.activeProfile.readonly;
			}
		},
		deactivated(){
			this.editing = false;
			this.clearActiveProfile();
		},
		methods: {
			...mapActions( ["fetchProfile", "updateActiveProfile", "clearActiveProfile", "refreshThumbnail", "updateUser"] ),
			editedText( html, text, delta ){
				this.html = html;
			},
			save( p ){
				p.name = `${p.firstName}  ${p.lastName}`;
				this.updateActiveProfile( p );
				this.editing = false;
			},
			cancel(){
				this.editing = false;
			},
			onInput( e ){
				const content = e.target.innerHTML;
				if( content !== this.activeProfile[e.target.id] ) this.edited[e.target.id] = content;
				else this.edited[e.target.id] = undefined;
			},
			saveBiography( data ){
				this.profile.bioBackground = data.html;
				this.updateActiveProfile( this.profile );
				this.editing = false;
			},
			uploadProfilePhoto( e ){
				const file = e.target.files[0];
				this.loading = true;
				api.updateUserPhoto( this.$route.params.username, file ).then( result =>{
					let { thumbnail } = this.profile;
					const queryLoc = thumbnail.indexOf( "?" );
					const cachebuster = "?cachebuster=" + Date.now();
					if( queryLoc > 0 ) thumbnail = thumbnail.substr( 0, queryLoc ) + cachebuster;
					else thumbnail += cachebuster;
					const { thumbnail: thumbnailEl } = this.$refs;

					if( this.session.username === this.$route.params.username ){
						this.refreshThumbnail();
					}

					this.refreshThumbnail( this.$route.params.username );

					const parentNode = thumbnailEl.parentNode;
					const newThumbnailEl = thumbnailEl.cloneNode( false );
					newThumbnailEl.setAttribute( "data", thumbnail );
					parentNode.replaceChild( newThumbnailEl, thumbnailEl );
					this.$refs.thumbnail = newThumbnailEl;
					this.loading = false;
				} );
			}
		}
	}
</script>


<style lang="less">
	@import (reference) "../../assets/main.less";

	.upload-file-input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;

		& + label {
			cursor: pointer;
			display: inline-block;

			&:focus, &:hover {
				opacity: 1.0;
			}
		}
	}

	.profile {

		section {
			margin-top: 0;
		}

		img {
			max-width: 100%;
		}

		.profile-header {
			background: url( /assets/img/profile_background.jpg ) no-repeat center bottom;
			background-size: cover;
			height: 350px;
		}

		.profile-top {
			display: flex;
			margin: 0;
			.profile-essentials {
				padding-left: 20px;
			}

			.upload-file-input-label{
				fill: @title-color;
			}

			.profile-photo {
				position: relative;
				flex: 0 0 auto;
				height: 150px;
				width: 150px;
				top: 0;
				object {
					position: absolute;
					height: 150px;
					width: 150px;
					border-radius: 50%;
					border: 2px solid #fafafa;
					background: desaturate( @brand-primary, 20% ) url( @icon-win-avatar ) no-repeat center center;
					background-size: cover;
				}
			}
		}

		.profile-content {
			.wincanada-container;
			.wincanada-container-background;

			.profile-administrative-fields {
			}

			.profile-internal-fields {
			}

			.profile-field-editable {
				min-width: 20px;
				outline: 2px solid lighten( mediumpurple, 30% );
				&:focus {
					outline: 2px solid mediumpurple;
				}
			}

			div[contenteditable=true].profile-field {
				.profile-field-editable;
			}

			div.profile-field-inline {
				display: inline-block;
			}

			div[contenteditable=true].profile-field-inline {
				.profile-field-editable;
			}

			div[contenteditable=false].profile-field { }

		}
	}
</style>
