<template>
	<div class="quill-container">
		<slot name="toolbar"></slot>
		<div ref="editor"></div>
	</div>
</template>

<style lang="less" rel="stylesheet/less">
	@import (reference) "../../assets/main.less";

	.quill-container {
		height: auto;
		min-height: 100%;
		margin: 0 -15px;

		.ql-editor {
			a {
				color: inherit;
				text-decoration: inherit;
				cursor: pointer;
				opacity: 0.8;
				&:hover {
					opacity: 1.0;
				}
			}

			img {
				max-width: 100%;
			}

			h1 {  .h1;  }
			h2 {  .h2;  }
			h3 {  .h3;  }
			h4 {  .h4;  }
			h5 {  .h5;  }
			h6 {  .h6;  }
		}

	}

</style>

<script>
	import "quill/dist/quill.snow.css";
	import "quill/dist/quill.bubble.css";
	import "quill/dist/quill.core.css";
	import debounce from "lodash.debounce";
	import router from "../../router";
	import Quill from "quill";

	export default {
		name: "quill-editor",
		data() {
			return {
				_content: "",
				defaultModules: {
					toolbar: [
						["bold", "italic", "underline", "strike"],
						["blockquote", "code-block"],
						[{ "header": 1 }, { "header": 2 }],
						[{ "list": "ordered"}, { "list": "bullet" }],
						[{ "script": "sub"}, { "script": "super" }],
						[{ "indent": "-1"}, { "indent": "+1" }],
						[{ "size": ["small", false, "large", "huge"] }],
						[{ "header": [1, 2, 3, 4, 5, 6, false] }],
						[{ "color": [] }, { "background": [] }],
						[{ "font": [] }],
						[{ "align": [] }],
						["clean"],
						["link", "image", "video"]
					]
				}
			}
		},

		props: {
			content: String,
			value: String,
			disabled: Boolean,
			options: {
				type: Object,
				required: false,
				default() {
					return {}
				}
			}
		},

		mounted() {
			this.initialize()
		},

		beforeDestroy() {
			this.quill = null
		},

		methods: {
			initialize() {
				if( !this.$el ) return;
				this.options.theme = this.options.theme || "snow";
				this.options.boundary = this.options.boundary || document.body;
				this.options.modules = this.options.modules || this.defaultModules;
				this.options.modules.toolbar = this.options.modules.toolbar !== undefined
					? this.options.modules.toolbar
					: this.defaultModules.toolbar;
				this.options.placeholder = this.options.placeholder || "Insert text here ...";
				this.options.readOnly = this.options.readOnly !== undefined ? this.options.readOnly : false;
				this.options.clipboard = {
					matchVisual: false
				};

				this.quill = new Quill( this.$refs.editor, this.options );

				if( this.value || this.content ) this.quill.pasteHTML( this.value || this.content );

				const onTextChange = debounce(( delta, oldDelta, source ) => {
					let html = this.$refs.editor.children[0].innerHTML;
					if( html === "<p><br></p>" ) html = "";
					this.$emit( "change", {
						editor: this.quill,
						html: html.replace( "<p><br></p>", "" ),
						text: this.quill.getText(),
						delta: this.quill.getContents()
					});
				}, 500 );

				this.quill.on( "text-change", onTextChange );

				this.$emit( "ready", this.quill );
			}
		},
		watch: {
			"content" ( newVal ) {
				if( !this.quill ) return;
				if (!!newVal && newVal !== this._content) {
					this._content = newVal;
					this.quill.pasteHTML(newVal)
				} else if(!newVal) {
					this.quill.setText( "" )
				}
			},
			"value" ( newVal ) {
				if( !this.quill ) return;
				if (!!newVal && newVal !== this._content) {
					this._content = newVal;
					this.quill.pasteHTML(newVal)
				} else if(!newVal) {
					this.quill.setText( "" );
				}
			},
			"disabled" ( newVal ){
				if( !this.quill ) return;
				this.quill.enable( !newVal );
			}
		}
	}
</script>
