@brand-primary: #6939C8;
@brand-secondary: #9FC92D;
@brand-tertiary: #BBA5FF;
@highlight: #25A5FD;

@colored-text: darken( @brand-primary, 15% );
@text-color: desaturate( darken( @brand-primary, 20% ), 40%);
@title-color: desaturate( darken( @brand-tertiary, 20% ), 50%);

@chapter-colors: bruce #b0da2d, golden-horseshoe #f29b19, durham #14d04d, eastern-ontario #73d3db, new-brunswick #7c7cf7, saskatchewan #d4cb43, global #25A5FD, canada #E60019; // chapter-color-bruce {}...

@faded: -slightly 0.7, 0.5, -more 0.4, -super 0.35; // faded-slightly {}, faded {} ...
.generate-from-namevalue( color, chapter-color-, @chapter-colors );
.generate-from-namevalue( opacity, faded, @faded );
@icon-win-logo-background: "/assets/img/win-logo-background.png";
@icon-win-avatar: "/assets/img/win-woman.png";

