@import "normalize.css";
@import "skeleton.less";
@import "mixins.less";
@import "marked.less";
@import "colors.less";
@import "utils.less";

@modal-zindex: 1000;
@markdown-editor-zindex: 2000;

@navigation-height: 6.0rem;
@navigation_border: 4px;

.navigation-buffer {
	margin-top: calc( 2em ~"+" 2 * @navigation_border ~"+" @navigation-height );
}

.responsive( @maxWidth; @rules ){
	@media only screen and ( max-width: @maxWidth ) {
		@rules();
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: @title-color;
	font-weight: normal;
}

@medium-screen: ~"only screen and (max-width: 700px)";

html, body {
	height: 100%;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
	color: @text-color;
	font-weight: normal;
}

.logo-text {
	color: @colored-text;
}

section {
	margin-top: 30px;
	margin-bottom: 30px;
}

textarea {
	font-family: Monaco, courier, monospace;
	font-size: 14px;
}

.editable > textarea {
	border-radius: 0;
	border: 1px dashed fade( @brand-primary, 30% );
	resize: none;
	outline: none;
	margin: 0;
	overflow: hidden;

	&:focus {
		border: 1px solid fade( @brand-primary, 10% );
	}
}

a {
	font-weight: bold;
	color: @title-color;
	text-decoration: none;
	&:hover {
		color: @brand-primary;
	}
}

#app-content {
	background-color: #fff;
	flex: 1 0 auto;
}

.page-title {
	.h2;
	text-align: center;
	padding: 20px 0;
}

.wincanada-container {
	@contentwidth: 700px;
	margin: auto;
	min-width: 300px;
	padding: 20px 20px 20px;
	box-shadow: 0 0 200px rgba( 0, 0, 0, 0.17 );

	@media (min-width: 576px) {
		@padding: 80px;
	//	width: 576px - @padding * 2;
		padding: 30px @padding;
	}

	@media (min-width: 768px) {
		@padding: 100px;
		width: 768px - @padding * 2;
		padding: 30px @padding;
	}

	@media (min-width: 992px) {
		@padding: 120px;
		width: 800px - @padding * 2;
		padding: 30px @padding;
	}

	@media (min-width: 1200px) {
		@padding: 120px;
		width: 1100px - @padding * 2;
		padding: 30px @padding;
	}
}

.wincanada-container-content {
	max-width: 720px;

	@media (min-width: 576px) {
		padding: 20px;
	}
}

.wincanada-container-background {
	@border: 1px solid rgba( 0, 0, 0, 0.00 );
	background: white;
	transform: translate( 0, -20px );
	border-bottom: @border;

	@media (min-width: 576px) {
		border-left: @border;
		border-right: @border;
	}
}


form {
	label {
		text-transform: uppercase;
		font-size: 0.8em;
		opacity: 0.5;
	}

	input[disabled] {
		opacity: 0.5;
	}

	.field-error-red {
		font-size: 0.8em;
		color: red;
		transform: translate( 0, -12px );
	}
}


button.mini-button, input.mini-button {
	font-size: 0.7em;
	height: 1.8em;
	padding: 0 15px;
	line-height: 1.8em;
	margin-bottom: 0px;
	margin-left: 5px;
}
