@import "colors";

.marked {
	h1[contenteditable=true], h2[contenteditable=true] {
		border-bottom: 2px dashed fade( @brand-primary, 30% );
		&:focus {
			border-bottom: none;
		}
	}

	h1 {
		line-height: 1.2em;
		font-size: 2.1em !important;
	}

	h2, h3, h4, h5 {
		opacity: 0.7;
	}

	h2 {
		font-size: 1.6em  !important;
	}

	h3 {
		font-size: 1.4em  !important;
	}

	h4 {
		font-size: 1.2em  !important;
	}

	.ql-align-center {
		text-align: center;
	}

	ul {
		list-style: disc outside;
		margin-left: 40px;
	}

	p {
		padding: 0;
		margin: 0;
	}

	.ql-align-right {
		text-align: right;
	}

	.ql-indent-1 {
		margin-left: 40px;
	}

	.ql-indent-2 {
		margin-left: 80px;
	}

	table {
		margin: auto;
	}

	blockquote {
		background: #f9f9f9;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
	}

	blockquote p {
		display: inline;
	}
}
