// keep in mind that you can use these generated classes, but you cannot use them as mixins
// https://github.com/less/less.js/issues/1399
.generate-from-namevalue( @prop, @namebase, @array, @i: 1) when ( @i <= length( @array )){
	@pair: extract( @array, @i );
	.namevalue( @prop, @namebase, @pair );
	.generate-from-namevalue( @prop, @namebase, @array, (@i + 1));
}

.namevalue( @prop, @namebase, @pair ) when ( length( @pair ) = 1 ){
	@value: extract( @pair, 1);
	.@{namebase} {
		@{prop}: @value;
	}
}

.namevalue( @prop, @namebase, @pair ) when ( length( @pair ) > 1 ){
	@name: extract( @pair, 1);
	@value: extract( @pair, 2);
	.@{namebase} {
		&@{name} {
			@{prop}: @value;
		}
	}
}
