<template lang="html">
	<div class="signin-join-join" @submit.prevent="submit" style="padding-bottom: 100px;">
		<form v-if="!success">
			<h5>Not a member yet?</h5>
			<p>
				Joining <b>WiN</b> Canada is free!  Create an account
				and you can enjoy the benefits of membership as soon as we have confirmed your email address.
			</p>
			<div class="join-error join-error-red" v-if="generalError">{{ generalError }}</div>
			<div class="join-error join-error-red" v-if="emailError">{{ emailError.join( ", " )}}</div>
			<label class="inputJoinEmail">Email</label>
			<input :disabled="loading" class="u-full-width" v-model="email" @keypress="keyPress" placeholder="Enter your email address" type="email" id="inputJoinEmail"/>

			<div class="join-error join-error-red" v-if="usernameError">{{ usernameError.join( ", " )}}</div>
			<label class="inputJoinUsername">Username</label>
			<input :disabled="loading" class="u-full-width" v-model="username" @keypress="keyPress" placeholder="Pick a username" type="text" id="inputJoinUsername"/>

			<input :disabled="loading" style="margin-top: 15px;" class="button-primary" type="submit" value="Join WiN Canada!"/>
		</form>
		<div v-else style="max-width:800px; margin: auto;">
			<h5>Thank you for joining WiN Canada!</h5>
			<p>
				An email has been sent to {{ email }}.  Once you have verified your email address, we can complete the registration process.
			</p>
			<p>
				While you are waiting for the email, why don't you <a href="/#news">read some of our latest updates</a> or <a href="https://www.facebook.com/womeninnuclear.canada/">visit us on Facebook</a>?
			</p>
		</div>
	</div>
</template>
<style lang="less">
	.signin-join-join {
		padding-top: 20px;
		background-color: lighten( mediumpurple, 30% );
	}

	.join-error {
		padding-bottom: 15px;
		font-size: 0.8em;
		font-weight: bold;
	}

	.join-error-red {
		color: rgb( 255, 0, 20 );
	}

	.forgot-password {
		text-decoration: underline; display: block; opacity: 0.4; padding-bottom: 10px; font-size: 0.8em; cursor: pointer; text-align: right;
		&:hover {
			cursor: pointer;
			opacity: 0.9;
		}
	}
</style>

<script type="text/babel">
	import { mapState } from "vuex";
	import { join } from "../../api";

	export default{
		computed: mapState( ["session"] ),
		data(){
			return {
				email: "", emailError: undefined,
				username: "", usernameError: undefined,
				password: "", passwordError: undefined,
				generalError: "",
				success: undefined,
				loading: false
			}
		},
		methods: {
			keyPress(e) {
				if( this.generalError.length === 0 ) return;
				const field = e.target.id.substring( "inputJoin".length ).toLowerCase();
				this[field + "Error"] = undefined;
				if(!( this.passwordError || this.usernameError || this.emailError )) this.generalError = "";
			},

			submit() {
				if( this.email.trim().length === 0 ){
					this.emailError = ["We need a valid email address to confirm you are real:"];
				}
				if( this.username.trim().length < 5 ){
					this.usernameError = ["We need a username that is at least 5 characters long:"]
				}

				this.loading = true;
				join( this.email, this.username ).then( happy => {
					this.loading = false;
					this.success = happy.status;
				}).catch( err => {
					this.loading = false;
					console.log( err );
					if( !err.body ) {
						if( err.status !== 409 ){
							this.generalError = "Sorry, we weren't able to sign you up, and even worse - we've encountered an error.  Please try again later."
							return;
						}
						this.generalError = "Sorry, we weren't able to sign you up: " + err.reason;
						this.emailError = ["Try a different email?"];
						this.usernameError = ["Try a different username?"];
						return;
					};

					this.generalError = "Sorry, we weren't able to sign you up!"
					this.usernameError = err.body.username;
					this.emailError = err.body.email;
					this.passwordError = err.body.password;
				} )
			}
		}
	}
</script>
