<template lang="html">
	<div class="signin-join">
		<login/>
		<join style="flex: 1 1 auto;"/>
	</div>
</template>
<style lang="less">
	.slide-fade-enter-active, .slide-fade-leave-active {
		height: 20px;
		opacity: 1;
		transition: all 0.3s ease;
	}

	.slide-fade-enter, .slide-fade-leave {
		opacity: 0;
		height: 1px;
	}

	.signin-join {
		display: flex;
		flex-direction: column;
		form {
			width: 320px;
			margin: auto;
		}
	}
</style>

<script type="text/babel">
	import { mapState } from "vuex"
	import Login from "./Login.vue";
	import Join from "./Join.vue";

	export default{
		computed: mapState( ["session"] ),
		components: {
			Login,
			Join
		}
	}
</script>
