<template lang="html">
	<div class="signin">
		<form v-if="forgotPasswordMode" @submit.prevent="resetPassword" >
			<h5>Ooops!</h5>
			<p style="color: rgba(255,255,255, 0.8);">
				Forgot your password?  No problem!  Just enter your username or email address and we will email you a link to reset your password.
			</p>
			<div style="color: white;" v-if="resetError">{{ resetError }}</div>
			<label class="usernameResetInput">Username/Email</label>
			<input :disabled="loading" @keypress="keyPress" ref="usernameReset" class="u-full-width" v-model.trim="usernameReset" placeholder="Enter your username (or email)" type="text" id="usernameResetInput"/>
			<input :disabled="loading" style="margin-top: 10px" class="button-primary" type="submit" value="Reset My Password"/>
			<div style="padding-top: 10px;">
				<a v-on:click="resetError=undefined; forgotPasswordMode=false; clearSession( false );">...or go back to signin</a>
			</div>
		</form>
		<form v-else @submit.prevent="signIn" >
			<h5>Sign In</h5>
			<div style="color: white;" v-if="session && session.status && session.status === 422">{{ session.error }}</div>
			<label class="usernameInput">Username/Email</label>
			<input ref="username" @keypress="keyPress" class="u-full-width" v-model.trim="username" placeholder="Enter your username (or email)" type="text" id="usernameInput"/>
			<label class="usernameInput">Password</label>
			<input ref="password" @keypress="keyPress" class="u-full-width" v-model="password" style="margin-bottom: 0;" placeholder="Enter your password" type="password" id="passwordInput"/>
			<a class="forgot-password" v-on:click="forgotPasswordMode = true; clearSession( false );">Oops, I forgot my password!</a>
			<input class="button-primary" type="submit" value="Sign in"/>
		</form>
	</div>
</template>
<style lang="less">
	@import (reference) "../../assets/main.less";
	.signin {
		background: linear-gradient(to right, #1E1465, #3D1A74, #592083, #732793, #8E2EA3);

		padding-top: 75px;
		padding-bottom: 20px;
		h5, label, a {
			color: white;
		}
		input {
			opacity: 0.92;
		}
	}

	.forgot-password {
		text-decoration: underline; display: block; opacity: 0.4; padding-bottom: 10px; font-size: 0.8em; cursor: pointer; text-align: right;
		&:hover {
			cursor: pointer;
			opacity: 0.9;
		}
	}
</style>

<script>
	import { mapState, mapActions } from "vuex";
	import { resetPassword } from "../../api";

	export default{
		computed: mapState( ["session"] ),
		watch: {
			session( newSession, oldSession ){
				if( ( !oldSession || oldSession.status != 200 ) && ( newSession && newSession.status !== 200 ) ){
					this.password = "";
					this.$refs.username.focus();
					const focusListener = this.$refs.password.addEventListener( "focus", e => {
						this.$refs.password.value = "";
						this.$refs.password.removeEventListener( "focus", focusListener );
					} );
				}
			}
		},
		data(){
			return {
				email: "",
				username: "",
				usernameReset: "",
				password: "",
				forgotPasswordMode: false,
				resetError: undefined,
				loading: false
			}
		},
		methods: {
			...mapActions( ["login", "clearSession"] ),
			signIn() {
				const redirect = this.$route.query.redirect;
				this.loading = true;
				this.login( { username: this.username, password: this.password, redirect } )
					.then( r => this.loading = false )
					.catch( err => this.loading = false );
			},
			resetPassword(){
				this.loading = true;
				resetPassword( this.usernameReset ).then( response => {
					alert( "An email has been sent!  Check your email for a link to reset your password. ");
					this.loading = false;
					this.usernameReset = "";
					this.forgotPasswordMode = false;
					this.$router.push( "/" );
				}).catch( err => {
					this.resetError = err.reason;
					this.loading = false;
				});
			},
			keyPress(e) {
				this.resetError = false;
				if( !this.session ) return;
				if( this.session.status === 200 ) return;
				this.clearSession( false );
			}
		}
	}
</script>
