<template lang="html">
	<div v-if="editable" :class="{ editable: editing }" class="marked">
		<hero v-if="editing" @click.native="backgroundFileInputClick" style="cursor: pointer;" :hero-data="heroData"></hero>
		<hero v-else :hero-data="heroData"></hero>
		<input class="hidden" @change="uploadConferenceBackground" ref="backgroundFileInput" name="file" type="file" accept="image/jpeg">
		<input class="hidden" @change="uploadSponsors" ref="sponsorsFileInput" name="file" type="file" accept="image/x-png">
		<div class="wincanada-container wincanada-container-background conference">
			<div class="editable-actions">
				<svg v-if="!editing" class="editme" @click="toggleEditMode" style="width: 25px; height: 25px; fill: mediumpurple"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"/></svg>
				<button type="button" v-if="editing" @click="save" class="button-primary mini-button">Save</button>
				<button type="button" v-if="editing" @click="cancel" class="mini-button">Cancel</button>
			</div>
			<div style="padding-bottom: 20px;">
				<div style="font-weight: bold; font-size: 22px; opacity: 0.5;"
					:class="{ editable: editing }"
					@input="e => updateSection( -1, 'lede', e.target.textContent )"
					ref="lede"
					:contenteditable="editing">{{ data.lede }}</div>
				<div class="h2"
					 style="margin: 0;"
					 :class="{ editable: editing }"
					 @input="e => updateSection( -1, 'title', e.target.textContent )"
					 ref="title"
					 :contenteditable="editing">{{ data.title }}</div>
				<div style="font-size: 22px; opacity: 0.7;"
					 :class="{ editable: editing }"
					 @input="e => updateSection( -1, 'description', e.target.textContent )"
					 ref="description"
					 :contenteditable="editing">{{ data.description }}</div>
			</div>
			<editable-text @change="e => updateSection( -1, 'content', e )" :editable="editing" ref="content" :htmlContent="edited.content" :key="edited.title"></editable-text>

			<div style="display: flex; padding-bottom: 30px; padding-top: 20px;">
				<div class="small-button" :selected="mode === section.title" v-for="(section, sectionIndex) in edited.sections" :item="section" :key="section.title" @click="showSection( section )">
					{{ section.title }}
				</div>
			</div>
			<div v-for="section in data.sections" v-if="mode === section.title">
				<h2>{{ section.title }}</h2>
				<editable-text v-for="(section, sectionIndex) in edited.sections" v-if="mode === section.title" @change="e => updateSection( sectionIndex, 'content', e )" :editable="editing" ref="section_content" :htmlContent="section.content" :key="section.title"></editable-text>
			</div>

			<h3 style="padding-top: 50px;">Our Sponsors</h3>
			<div v-if="editing" @click="sponsorsFileInputClick" style="cursor: pointer; text-align: center;"><img style="max-width: 90%; width: auto;" :src="edited.sponsors"/></div>
			<div v-else style="text-align: center;"><img style="max-width: 90%; width: auto;" :src="edited.sponsors"/></div>
			<editable-text @change="e => updateSection( -1, 'footer', e )" :editable="editing" ref="footer" :htmlContent="edited.footer" :key="edited.footer"></editable-text>
		</div>
	</div>

	<div v-else>
		<hero :hero-data="heroData"></hero>

		<div class="wincanada-container wincanada-container-background conference">
<!--			<a class="pheedloop-popup-15615 popup-btn">Registration Main</a>-->
<!--			<div id="pheedloop-embed-15615"></div>-->

			<div style="padding-bottom: 20px;">
				<div style="font-weight: bold; font-size: 22px; opacity: 0.5;">{{ data.lede }}</div>
				<div class="h2" style="margin: 0;">{{ data.title }}</div>
				<div style="font-size: 22px; opacity: 0.7;">{{ data.description }}</div>
			</div>
			<div class="marked" v-html="data.content"/>

			<div style="display: flex; padding-bottom: 30px; padding-top: 20px;">
				<div class="small-button" :selected="mode === section.title" v-for="section in data.sections" :item="section" :key="section.title" @click="showSection( section )">
					{{ section.title }}
				</div>
			</div>
			<div v-for="section in data.sections" v-if="mode === section.title">
				<h2>{{ section.title }}</h2>
				<div class="marked" v-html="section.content"/>
			</div>

			<h3 style="padding-top: 50px;">Our Sponsors</h3>
			<div style="text-align: center;"><img style="max-width: 90%; width: auto;" :src="data.sponsors"/></div>
			<div class="marked" style="font-size: 12px; padding-top: 20px; opacity: 0.7;" v-html="data.footer"/>
		</div>
	</div>
</template>

<style lang="less" rel="stylesheet/less">
	@import (reference) "../../assets/main.less";

	.conference {
		img {
			max-width: 98%;
		}

		.editme {
			&:hover {
				cursor: pointer;
			}
		}

		.small-button {
			color: fade( white, 80% );
			opacity: 0.6;
			background: @brand-primary;
			padding: 5px 25px;
			border-radius: 3px;
			margin: 3px;
			font-size: smaller;

			&[selected],
			&:hover {
				color: white;
				opacity: 1.0;
				cursor: pointer;
			}
		}

		.editable {
			padding: 5px;
			border: 2px solid transparent;
			border-bottom: 2px dotted fade( mediumpurple, 20% ) !important;

			&:hover {
				cursor: pointer;
				background: fade( mediumpurple, 10% );
			}

			&:focus, &:active {
				outline: none;
				background: white;
				border: 2px solid fade( mediumpurple, 20% ) !important;
			}
		}
	}
</style>

<script type="text/babel">
	import { mapState, mapGetters, mapActions } from "vuex";
	import EditableText from "../../components/editable/EditableText.vue";
	import Hero from "../../components/Hero";
	import http from "../../api/http";
	import { updateConferenceBackgroundPhoto, updateConferenceSponsorsPhoto, updateConference } from "../../api/index";

	export default{
		components: {
			Hero,
			"editableText": EditableText
		},
		mounted(){
			// const pheedloop = document.createElement("script");
			// pheedloop.setAttribute("src", "https://pheedloop.s3.amazonaws.com/embed/embed.js");
			// pheedloop.async = true;
			// pheedloop.defer = true;
			// document.head.appendChild(pheedloop);
			//
			// const pheedloopCSS = document.createElement("link");
			// pheedloopCSS.setAttribute("href", "https://pheedloop.s3.amazonaws.com/embed/embed.css");
			// pheedloopCSS.setAttribute("type", "text/css");
			// pheedloopCSS.setAttribute("rel", "stylesheet");
			// document.head.appendChild(pheedloopCSS);

			// pheedloop.onload = () => {
			// 	createSection({
			// 		event: "winglobal2020",
			// 		section: "15615",
			// 		height: 2000,
			// 		resize: false,
			// 		popup: false,
			// 	});
			// };
		},
		computed: {
			...mapGetters( ["isSuperUser"] ),
			editable(){
				return this.isSuperUser || this.isAdmin;
			},
			heroData(){
				const headerFade = {
					header: "300px",
					background: "linear-gradient( rgba( 0,0,80,0.1), rgba( 0,0,80,0) )"
				};

				if( this.editable ){
					return {
						heroImage: {
							background: `url(${this.edited.background}) center center / cover no-repeat`,
							height: "50vh"
						},
						headerFade
					};
				}
				return {
					heroImage: {
						background: `url(${this.data.background}) center center / cover no-repeat`,
						height: "50vh"
					},
					headerFade
				}
			}
		},
		data(){
			return {
				editing: false,
				loading: true,
				mode: "Register",
				edited: {
					lede: "",
					title: "",
					description: "",
					content: "",
					sections: [],
					background: undefined,
					sponsors: undefined
				},
				data: {
					lede: "",
					title: "",
					description: "",
					content: "",
					sections: [],
					background: undefined,
					sponsors: undefined
				}
			}
		},
		created() {
			this.loadContent();
		},
		methods: {
			toggleEditMode(){
				this.editing = !this.editing;
			},
			save(){
				this.data = JSON.parse( JSON.stringify( this.edited ));
				this.editing = false;
				updateConference( this.data );
			},
			cancel(){
				this.editing = false;
				this.edited = JSON.parse( JSON.stringify( this.data ));
				this.$refs.lede.innerText = this.data.lede;
				this.$refs.title.innerText = this.data.title;
				this.$refs.description.innerText = this.data.description;
			},
			loadContent: function(){
				http.get( "/static/content/conference/content.json" ).then( data  => {
					this.loading = false;
					this.data = data;
					this.edited = JSON.parse( JSON.stringify( data ));
				} );
			},
			updateSection: function( sectionIndex, property, value ){
				// important not to display the data being edited, or else contenteditable continues
				// to reset the caret.
				if( sectionIndex === -1 ){
					this.edited[property] = value;
					return;
				}
				this.edited.sections[sectionIndex][property] = value;
			},
			showSection: function( section ){
				this.mode = section.title;
			},
			backgroundFileInputClick: function( e ){
				this.$refs.backgroundFileInput.click();
			},
			async uploadConferenceBackground( e ){
				try{
					const result = await updateConferenceBackgroundPhoto( e.target.files[0] );
					this.edited.background = result.secure_url;
				} catch( e ){
					alert( e.body.join("\n"));
				}
			},
			sponsorsFileInputClick: function( e ){
				this.$refs.sponsorsFileInput.click();
			},
			async uploadSponsors( e ){
				try{
					const result = await updateConferenceSponsorsPhoto( e.target.files[0] );
					this.edited.sponsors = result.secure_url;
				} catch( e ){
					alert( e.body.join("\n"));
				}
			}
		}
	}
</script>
