<template lang="html">
	<div v-if="loaded">
		<div class="confirm-header"><div class="confirm-header-fade"/></div>
		<div class="confirm container" v-if="!badToken">
			<h5>Welcome to WiN Canada, {{ username }}!</h5>
			<form @submit.prevent="submit">
				<div v-if="country !== 'Canada'" class="row" style="color: red; padding-bottom: 40px;">
					It appears as though you are visiting from a country other than Canada.  Women in Nuclear Canada is open to citizens of Canada.
					Note that we will still let you register, however your account may be revoked should we discover you are not Canadian.
				</div>
				<div>
					Wonderful!  You gave us a valid email address.  Next we need to gather a little personal information so we can
					verify who you are.  Note that you will be able to update this information from your account profile later.
				</div>
				<fieldset class="required-fields">
					<legend>Required Fields</legend>
					<div class="row" style="padding-bottom: 20px;">
						All of the following fields are required.  Note that if you are a student, please provide your field of study, and your school's name.
					</div>
					<div class="row">
						<div class="six columns">
							<label for="inputConfirmEmail">Email</label>
							<input disabled class="u-full-width" v-model="email" type="email" id="inputConfirmEmail"/>
						</div>
						<div class="six columns">
							<label for="inputConfirmUsername">Username</label>
							<input disabled class="u-full-width" v-model="username" type="text" id="inputConfirmUsername" />
						</div>
					</div>
					<div class="row">
						<div class="six columns">
							<label for="inputConfirmPassword">Password</label>
							<input class="u-full-width" @keypress="keyPress" placeholder="Choose a password" v-model="password" type="password" id="inputConfirmPassword"/>
							<div class="confirm-error field-error-red" v-if="passwordError">{{ passwordError.join( ", " )}}</div>
						</div>
						<div class="six columns">
							<label for="inputConfirmPasswordConfirmation">Confirm Password</label>
							<input class="u-full-width" @keypress="keyPress" placeholder="Re-enter your password" v-model="passwordConfirmation" type="password" id="inputConfirmPasswordConfirmation" />
							<div class="confirm-error field-error-red" v-if="passwordConfirmationError">{{ passwordConfirmationError.join( ", " )}}</div>
						</div>
					</div>

					<div class="row">
						<div class="six columns">
							<label for="inputConfirmFirstName">First Name</label>
							<input class="u-full-width" @keypress="keyPress" placeholder="What is your first name?" v-model="firstName" type="text" id="inputConfirmFirstName" />
							<div class="confirm-error field-error-red" v-if="firstNameError">{{ firstNameError.join( ", " )}}</div>
						</div>
						<div class="six columns">
							<label for="inputConfirmLastName">Last Name</label>
							<input class="u-full-width" @keypress="keyPress" placeholder="What is your last name?" v-model="lastName" type="text" id="inputConfirmLastName" />
							<div class="confirm-error field-error-red" v-if="lastNameError">{{ lastNameError.join( ", " )}}</div>
						</div>
					</div>

					<div class="row">
						<div class="six columns">
							<label for="inputConfirmJobTitle">Occupation/Field of Study</label>
							<input class="u-full-width" @keypress="keyPress" placeholder="Enter your job title or area of study" v-model="jobTitle" type="text" id="inputConfirmJobTitle" />
							<div class="confirm-error field-error-red" v-if="jobTitleError">{{ jobTitleError.join( ", " )}}</div>
						</div>
						<div class="six columns">
							<label for="inputConfirmEmployer">Employer/School</label>
							<input class="u-full-width" @keypress="keyPress" v-model="employer" placeholder="Who is your employer?" type="text" id="inputConfirmEmployer" />
							<div class="confirm-error field-error-red" v-if="employerError">{{ employerError.join( ", " )}}</div>
						</div>
					</div>

					<div class="row">
						<label for="inputConfirmChapter">Chapter</label>
						Choose the chapter that is nearest your employers location, or choose "Canada" if you aren't sure.  You can always update your chapter
						preference later.  We guessed your most likely chapter based on your latitude and longitude and province.
						<select  class="u-full-width" v-model="chapter" id="inputConfirmChapter">
							<option v-for="chapter in filteredChapters" >{{ chapter.name }}</option>
						</select>
					</div>
				</fieldset>


				<fieldset class="supplemental-fields">
					<legend>Supplemental Information</legend>
					<div class="row">
						<div class="six columns">
							<label for="inputConfirmCity">City</label>
							<input class="u-full-width" v-model="city" placeholder="What is your nearest town?" type="text" id="inputConfirmCity" />
						</div>
						<div class="six columns">
							<label for="inputConfirmProvince">Province</label>
							<select class="u-full-width" v-model="province" id="inputConfirmProvince">
								<option value="AB">Alberta</option>
								<option value="BC">British Columbia</option>
								<option value="MB">Manitoba</option>
								<option value="NB">New Brunswick</option>
								<option value="NL">Newfoundland</option>
								<option value="NS">Nova Scotia</option>
								<option value="NT">Northwest Territories</option>
								<option value="NU">Nunavut</option>
								<option value="ON">Ontario</option>
								<option value="PE">PEI</option>
								<option value="QC">Quebec</option>
								<option value="SK">Saskatchewan</option>
								<option value="YT">Yukon</option>
							</select>
						</div>
					</div>

					<label for="inputConfirmBackground">Background</label>
					<input class="u-full-width" v-model="background" placeholder="Share some of your professional background with us..." type="text" id="inputConfirmBackground" />

					<label for="inputConfirmQualifications">Qualifications</label>
					<input class="u-full-width" v-model="qualifications" type="text" placeholder="Tell us about your degrees and certifications" id="inputConfirmQualifications" />
				</fieldset>
				<fieldset>
					<div class="row">
						<div class="one column">
							<input class="u-full-width" v-model="winGlobal" type="checkbox" id="inputConfirmWinGlobal" />
						</div>
						<div class="eleven columns">
							Are you a current member of WiN Global?
						</div>
					</div>

					<div class="row">
						<div class="one column">
							<input class="u-full-width" v-model="publish" type="checkbox" id="inputConfirmPublish" />
						</div>
						<div class="eleven columns">
							Would you be willing to share your profile and background publicly on this website?  We encourage public profiles as a means to inspire fellow women in the industry.
						</div>
					</div>

					<div class="row" style="padding-top: 10px">
						<div class="one column">
							<input class="u-full-width" v-model="optIn" type="checkbox" id="inputConfirmOptIn" />
						</div>
						<div class="eleven columns">
							Yes!  I would love to join the WiN Canada and my local chapter's mailing list!  Note that we never share your email address, and we only send emails once or twice
							a month.
						</div>
					</div>

					<div class="row" style="padding-top: 30px;">
						<input class="button-primary" type="submit" :disabled="submitted" value="Create Your Profile!"/>
					</div>
				</fieldset>
			</form>
		</div>
		<div v-else>
			{{ badToken }}
		</div>
	</div>
</template>
<style lang="less">
	.confirm-header {
		background-size: cover;
		height: 68px;
	}
	.confirm-header-fade {
		position: absolute;
		width: 100%;
		margin: 0;
		height: 68px;
		background: rgba( 0,0,0,0.5);
	}

	.confirm {
		padding-top: 50px;
		margin: auto;
		max-width: 1100px;
	}

	fieldset {
		padding: 0 30px 30px 30px;
	}

	legend {
		padding: 15px;
	}

	.required-fields {
		border: 2px solid lighten( mediumpurple, 20% );
		border-radius: 3px;
		background-color: lighten( mediumpurple, 33% );
	}

	.supplemental-fields {
		border: 2px solid lighten( lightgray, 10% );
		border-radius: 3px;
	}

</style>

<script type="text/babel">
	import jwt_decode from "jwt-decode";
	import { mapState, mapActions } from "vuex";
	import { ipgeolocate, confirmUser } from "../../api";

	export default{
		props: ["token"],
		data(){
			return {
				badToken: undefined,
				username: "",
				password: "",
				passwordError: [],
				passwordConfirmation: "",
				passwordConfirmationError: [],
				email: "",
				chapter: "Canada",
				firstName: "",
				firstNameError: [],
				lastName: "",
				lastNameError: [],
				jobTitle: "",
				jobTitleError: [],
				employer: "",
				employerError: [],
				city: "",
				province: "ON",
				background: "",
				qualifications: "",
				publish: true,
				optIn: true,
				winGlobal: false,
				country: "Canada",
				errorState: false,
				submitted: false
			};
		},

		created() {
			this.loaded = true;
			this.fetchChapters();
			ipgeolocate().then( ( result ) =>{
				if( result.city ) this.city = result.city;
				if( result.region_code ) this.province = result.region_code;
				if( result.chapter ) this.chapter = result.chapter;
				if( result.country_name ){
					this.country = result.country_name;
					if( this.country !== "Canada" ) this.chapter = "Canada";
				}
			} );
			try {
				const decodedToken = jwt_decode( this.token );
				this.username = decodedToken.context.username;
				this.email = decodedToken.context.email;
			} catch( err ){
				this.badToken = "Bad token, man";
			}
		},
		methods: {
			...mapActions( ["fetchChapters", "login"] ),

			keyPress(e) {
				if( !this.errorState ) return;

				let field = e.target.id.substring( "inputConfirm".length );
				field = field.charAt( 0 ).toLowerCase() + field.slice(1);
				console.log( "error field: " + field );
				this[field + "Error"] = [];

				const errorFields = Object.getOwnPropertyNames( this.$data ).filter( name => name.endsWith( "Error" ));
				const withErrors = errorFields.filter( field => this.$data[field].length > 0 );
				if( withErrors.length !== 0 ) return;
				this.errorState = false;
			},

			submit() {
				if( this.submitted ) return;
				this.submitted = true;
				if( this.password !== this.passwordConfirmation ){
					this.passwordConfirmationError = ["The password confirmation doesn't match your actual password."];
					this.errorState = true;
				}

				if( this.password.trim().length === 0 ){
					this.passwordError = ["A password is required."];
					this.errorState = true;
				} else if( this.password.trim().length < 6 ){
					this.passwordError = ["A valid password is at least 6 characters long."];
					this.errorState = true;
				}

				if( this.firstName.trim().length <= 2 ){
					this.firstNameError = ["We'd love to know your first name..."];
					this.errorState = true;
				}

				if( this.lastName.trim().length <= 2 ){
					this.lastNameError = ["Knowing your last name will make it easier for us to confirm your eligibility for WiN Canada."];
					this.errorState = true;
				}

				if( this.jobTitle.trim().length <= 3 ){
					this.jobTitleError = ["If we know the types of jobs or members hold, we can tailor events to better address our member's needs."];
					this.errorState = true;
				}

				if( this.employer.trim().length <= 3 ){
					this.employerError = ["Knowing your employer will help us verify your eligibility to be a member of WiN."];
					this.errorState = true;
				}

				if( this.errorState ){
					this.submitted = false;
					return;
				}

				confirmUser( {
					token: this.token,
					username: this.username,
					email: this.email,
					password: this.password,
					chapter: this.chapter,
					firstName: this.firstName,
					lastName: this.lastName,
					jobTitle: this.jobTitle,
					employer: this.employer,
					city: this.city,
					province: this.province,
					background: this.background,
					qualifications: this.qualifications,
					publish: this.publish,
					optIn: this.optIn,
					winGlobal: this.winGlobal
				} ).then( response => {
					return this.login( { username: this.username, password: this.password, redirect: `/profiles/${ this.username }` } );
				}).catch( err => {
					alert( "There was a problem creating this account!  Check the form input fields for details." );
					if( err.body ){
						const _this = this;
						Object.keys( err.body ).forEach( k => {
							_this[k + "Error"] = err.body[k];
							this.errorState = true;
						})
					}

					console.log( err );
					this.submitted = false;
				})
			}
		},

		computed: {
			...mapState( ["session", "chapters"] ),
			filteredChapters(){
				return this.chapters.filter( c => c.name !== "Global" );
			}
		}
	}
</script>
