<template lang="html">
	<div>
		<label>Email Address</label>
		<input ref="input" type="email" placeholder="What is your email address?" :disabled="disabled" :value="value" @input="update( $event.target.value )"/>
		<div v-if="!disabled && showErrors && error" class="confirm-error field-error-red">{{ error }}</div>
	</div>
</template>

<script>
	const validateEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

	export default {
		name: "InputEmail",
		props: {
			value: {
				type: String,
				default: ""
			},
			disabled: {
				type: Boolean,
				default: false
			},
			showErrors: {
				type: Boolean,
				default: false
			}
		},

		data(){
			return {
				error: undefined
			}
		},

		methods: {
			update( v ){
				if( this.error ) this.error = undefined;
				if( v.length === 0 || !validateEmail.test( v.trim())) this.error = "This email is not valid.";
				else this.error = undefined;

				this.$emit( "input", v, this.error );
			}
		}
	}
</script>

