<template lang="html">
	<div>
		<hero hero-name="admin_users" hero-num=1>
			<h3>User Management</h3>
		</hero>
		<div class="container" style="padding-top: 30px;">
		</div>
	</div>
</template>

<style lang="less">
	.mailchimp {
		font-size: 0.9em;
		padding-bottom: 100px;
	}

	.mailchimp-header {
		background-size: cover;
		height: 68px;
	}

	.mailchimp-header-fade {
		position: absolute;
		width: 100%;
		margin: 0;
		height: 68px;
		background: rgba( 0,0,0,0.5);
	}

</style>

<script type="text/babel">
	import { mapState, mapActions, mapGetters } from "vuex";
	import debounce from "debounce";
	import Hero from "../../../components/Hero.vue";
	import Spinner from "../../../components/Spinner.vue";

	export default {
		data(){
			return {
				loading: false,
				match: "",
				optIn: undefined,
				status: "ACTIVATED",
				role: "",
				chapter: "",
			}
		},
		components: {
			Spinner,
			Hero
		},
		computed: {
			...mapGetters(["isAdmin", "isSuperUser", "isChapterLead"]),
			...mapState( ["session", "users", "chapters"] ),
			filteredUsers(){
				return this.filterUsers();
			}
		},
		methods: {
			...mapActions( ["fetchUsers", "fetchChapters"] ),
		},
		created () {
			this.fetchChapters();
			this.loadUsers();
		}
	}
</script>
