<template lang="html">
	<footer class="main-footer">
		<div class="main-footer-container" style="z-index: 10000;">
			<div class="main-footer-head">
				<div>
					<img src="/assets/img/win-logo-background.png" width="200" style="transform: translateX( -25px );"/>
				</div>
				<div class="main-footer-social">
					<a target="_blank" href="https://www.facebook.com/womeninnuclear.canada/"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook-logo"/></svg></a>
					<a target="_blank" href="https://twitter.com/win_canada"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter-logo"/></svg></a>
					<a target="_blank" href="https://www.linkedin.com/groups/1810858"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#linkedin-logo"/></svg></a>
				</div>
			</div>
			<div class="main-footer-content">
				<div class="main-footer-org">
					<div v-marked="president"/>
					<div v-marked="vicePresident"/>
					<div v-marked="canadaAddress"/>
					<div v-marked="globalAddress"/>
				</div>
				<div class="main-footer-chapters">
					<div v-for="chapter in chaptersWithLeads" v-marked="chapter"/>
				</div>
			</div>
			<div class="main-footer-privacy">
				WiN-Canada is committed to maintaining our users' privacy on the internet. Any information gathered on this
				website will be used only for the purposes for which it was collected. In the case of any information gathered without
				the direct knowledge of the user, such information will not be used to identify the user. WiN-Canada will never share any
				information gathered with third parties except in cases where it is reasonable to assume implicit agreement
				or explicit consent has been given.
			</div>
		</div>
	</footer>
</template>
<style lang="less">
	@import (reference) "../assets/main.less";

	footer.main-footer {
		margin: auto;
		padding: 0 30px 0 30px;
		max-width: 1500px;
		font-size: 0.9em;
		color: fade( white, 30% );
		fill: fade( white, 30% );
		display: flex;
		flex-direction: column;
		z-index: 0;

		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: white;
			}
		}

		h5 {
			font-size: 1.0em;
			margin: 0;
			font-weight: bold;
			color: fade( white, 70% );
		}

		p {
			margin-bottom: 1.0rem;
		}

		.main-footer-head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.main-footer-social {
				svg {
					padding-top: 11px;
					padding-left: 11px;
					height: 24px;
					width: 24px;
					fill: fade( white, 30% );

					&:hover {
						fill: white;
					}
				}
			}
		}

		.main-footer-content {
			display: flex;
			justify-content: space-between;
			text-transform: capitalize;

			.main-footer-chapters {
				text-align: right;
			}
			svg {
				padding-left: 4px;
				padding-right: 2px;
				height: 14px;
				width: 14px;
				fill: fade( white, 20% );
				transform: translateY( 2px );
			}
		}

		.main-footer-privacy {
			margin-top: 20px;
			padding-top: 10px;
			border-top: 1px solid fade( white, 10% );
			margin-bottom: 10px;
			font-size: 0.8em;
			text-align: justify;
		}
	}

</style>

<script type="text/babel">
	import { mapState, mapActions } from "vuex";

	export default {
		name: "MainFooter",
		methods: {
			...mapActions( ["fetchChapters", "fetchContacts"] ),
			getPeople: function( role, chapter ){
				return chapter ? this.contacts.filter( c => c.chapter === chapter && c.role === role ) : this.contacts.filter( c => c.role === role );
			},

			getAddress: function( chapter ){
				const c = this.chapters.find( c => c.name === chapter );
				if( !c ) return undefined;
				const address = c.address.slice( 0 );
				address[0] = `##### ${ address[0] }`;
				address[address.length-1] += '<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#envelope"/></svg>';
				return address.join( "  \n" );
			}
		},
		created () {
			this.fetchContacts();
			this.fetchChapters();
		},
		computed: {
			...mapState( ["chapters", "contacts"] ),
			canadaAddress: function() { return this.getAddress( "Canada" ); },
			globalAddress: function() { return this.getAddress( "Global" ); },
			chaptersWithLeads: function(){
				const chapters = this.chapters.filter( c => !( c.name === "Canada" || c.name === "Global" || c.name === "Unknown" )).slice( 0 );
				const md = [];
				chapters.forEach( c => {
					const peeps = this.getPeople( "Chapter Lead", c.name );
					md.push( `##### ${ c.name } Chapter Lead${ peeps.length > 1 ? "s" : ""}  \n${ peeps.map( p => p.name ).join( '<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#envelope"/></svg>, ') }<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#envelope"/></svg>`);
				});
				return md;
			},
			vicePresident: function(){
				const pres = this.getPeople( "Vice President" );
				if( !pres || !pres.length ) return;
				pres[0].name = pres[0].name.replace( /\(.*\)/, "(mailto:canada@womeninnuclear.org)");
				return `##### WiN Canada Vice-President  \n${ pres[0].name }<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#envelope"/></svg>`;
			},
			president: function(){
				const pres = this.getPeople( "President" );
				if( !pres || !pres.length ) return;
				pres[0].name = pres[0].name.replace( /\(.*\)/, "(mailto:canada@womeninnuclear.org)");
				return `##### WiN Canada President  \n${ pres[0].name }<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#envelope"/></svg>`;
			}
		}
	}
</script>
