<template>
	<nav class="navbar" :class="{ scrolled: scrolled }">
		<div v-if="windowSize.width > 922" class="navbar-main navbar-big">
			<ul>
				<router-link tag="li" to="/" exact><winlogo/></router-link>
				<router-link class="navbar-main-link" v-for="appLink in appLinks" :key="appLink.to" tag="li" :to="appLink.to" exact>{{ appLink.label }}</router-link>
				<li v-if="isLoggedIn">
					<dropdown2 style="line-height: 1.8em; padding: 6px 20px;" :show="showUserMenu" @hide="hideUserMenu" @show="displayUserMenu">
						<div slot="trigger" style="display: flex; align-items: center; width: 190px;">
							<profileThumbnail slot="trigger" style="flex: 0 0 auto; margin-right: 5px; width: 43px; height: 43px;" :url="session.thumbnail"/>
							<div style="flex: 1 1 auto; margin-right: 5px; overflow: hidden; max-width: 140px; text-overflow: ellipsis;" >{{ session.username }}</div>
							<div>▾</div>
						</div>
						<div class="user-menu-content" style="transform: translate( -20px, 8px );">
							<router-link @click.native="hideUserMenu" v-for="userLink in userLinks" :key="userLink.to" tag="div" :to="userLink.to">{{ userLink.label }}</router-link>
							<div style="border-top: 1px solid rgba( 0, 0, 0, 0.1 );" @click="logout">Sign out</div>
						</div>
					</dropdown2>
				</li>
				<router-link v-else tag="li" :to="`/login?redirect=${$route.path}`">Join &nbsp;&nbsp;|&nbsp;&nbsp; Sign-in</router-link>
			</ul>
		</div>
		<div v-else-if="windowSize.width <= 922 && windowSize.width > 576" class="navbar-main navbar-small">
			<ul>
				<router-link tag="li" to="/" exact><winlogo/></router-link>
				<li>
					<dropdown2 style="width: 200px; border: 1px solid rgba( 255, 255, 255, 0.5 ); border-radius: 3px; line-height: 1.8em;" :show="showAppMenu" @hide="hideAppMenu" @show="displayAppMenu">
						<div slot="trigger" style="display: flex; padding: 6px 20px;">
							<div style="flex: 1 1 auto;">{{ selected }}</div>
							<div>▾</div>
						</div>
						<div class="user-menu-content" style="width: 100%;">
							<router-link v-for="appLink in appLinks" :key="appLink.to" @click.native="hideAppMenu" tag="div" :class="{ 'active-link': selected === appLink.label }" v-on:click.native="select( appLink.label );" :to="appLink.to">{{ appLink.label }}</router-link>
						</div>
					</dropdown2>
				</li>
				<li v-if="isLoggedIn">
					<dropdown2 style="line-height: 1.8em; padding: 6px 10px;" :show="showUserMenu" @hide="hideUserMenu" @show="displayUserMenu">
						<div slot="trigger" style="display: flex; align-items: center;">
							<profileThumbnail slot="trigger" style="margin-right: 10px; width: 43px; height: 43px;" :url="session.thumbnail"/>
							<div>▾</div>
						</div>
						<div class="user-menu-content" style="transform: translate( -80px, 8px );">
							<router-link v-for="userLink in userLinks" @click.native="hideUserMenu" :key="userLink.to" tag="div" :to="userLink.to">{{ userLink.label }}</router-link>
							<div style="border-top: 1px solid rgba( 0, 0, 0, 0.1 );" @click="logout">Sign out</div>
						</div>
					</dropdown2>
				</li>
				<router-link v-else tag="li" :to="`/login?redirect=${$route.path}`">Join &nbsp;&nbsp;|&nbsp;&nbsp; Sign-in</router-link>
			</ul>
		</div>
		<div v-else class="navbar-main navbar-very-small">
			<ul>
				<li>
					<dropdown width="160px" :contentStyles="{ textTransform: 'none', lineHeight: '1.8em' }">
						<div slot="trigger">
							<winlogo/>
						</div>
						<router-link key="/" tag="div" v-on:click.native="select( 'Welcome' );" to="/">Welcome</router-link>
						<router-link v-for="appLink in appLinks" :key="appLink.to" tag="div" :class="{ 'active-link': selected === appLink.label }" v-on:click.native="select( appLink.label );" :to="appLink.to">{{ appLink.label }}</router-link>
					</dropdown>
				</li>
				<li v-if="isLoggedIn">
					<dropdown2 style="line-height: 1.8em; padding: 8px 20px;" :show="showUserMenu" @hide="hideUserMenu" @show="displayUserMenu">
						<div slot="trigger" style="display: flex; align-items: center;">
							<profileThumbnail slot="trigger" style="margin-right: 10px; width: 43px; height: 43px;" :url="session.thumbnail"/>
							<div>▾</div>
						</div>
						<div class="user-menu-content" style="transform: translate( -80px, 8px );">
							<router-link v-for="userLink in userLinks" @click.native="hideUserMenu" :key="userLink.to" tag="div" :to="userLink.to">{{ userLink.label }}</router-link>
							<div style="border-top: 1px solid rgba( 0, 0, 0, 0.1 );" @click="logout">Sign out</div>
						</div>
					</dropdown2>
				</li>
				<router-link v-else tag="li" :to="`/login?redirect=${$route.path}`">Join &nbsp;&nbsp;|&nbsp;&nbsp; Sign-in</router-link>
			</ul>
		</div>

		<errors/>
	</nav>
</template>

<style lang="less" rel="stylesheet/less">
@import (reference) "../assets/main.less";

.user-menu-content {
	position: absolute;
	z-index: 100;
	background: white;
	box-shadow: 3px 3px 10px rgba( 0, 0, 0, 0.3 );
	color: rgba( 0, 0, 0, 0.8 );
	text-transform: none;

	& > div {
		padding: 8px 20px;
		&:hover {
			color: white;
			background: fade( mediumpurple, 70% );
		}
	}

	.router-link-active {
		opacity: 0.95;
		border-bottom: none !important;
	}

	.router-link-exact-active {
		opacity: 1.0;
		border-bottom: none !important;
		background: darken(mediumpurple, 10%);
		color: white;
	}
}

.navbar-main-link.router-link-active {
	opacity: 0.95;
	border-bottom: @navigation_border solid @brand-tertiary !important;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0.90em;
	color: white;
	fill: white;
	stroke: white;
	text-transform: uppercase;
	z-index: 100;
	transition: background-color 0.25s, transform 0.5s;

	&:hover {
		background-color: fade( darken( @text-color, 20% ), 80% );
	}

	&.scrolled {
		background-color: fade( darken( @text-color, 20% ), 80% );
	}

	.navbar-main {
		margin: auto;
		list-style-type: none;
		white-space: nowrap;
		padding-left: 50px;
		padding-right: 50px;
		transform: translateY( 1px );

		@media screen and (max-width: 1000px) {
			padding-left: 5px;
			padding-right: 5px;
		}

		@media screen and (max-width: 500px) {
			padding-left: 2px;
			padding-right: 2px;
		}

		ul {
			margin: 0 auto;
			padding: 0;
		}

		li {
			position: relative;
			white-space: nowrap;
			opacity: 0.9;
			cursor: pointer;
			border-top: @navigation_border solid rgba(0,0,0,0);
			border-bottom: @navigation_border solid rgba(0,0,0,0);
			user-select: none;
			margin-bottom: 0;
			height: @navigation-height;
			line-height: @navigation-height;
			display: inline-block;

			a {
				color: white;
			}

			svg {
				vertical-align: top;
				height: @navigation-height;
			}

			&:hover {
				opacity: 1.0;
			}

			&:first-child {
				padding: 0;
				border: none !important;
			}

			&:last-child {
				float: right;
				padding: 0;
			}
		}
	}

	.navbar-big ul {
		max-width: 1500px;

		li {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}
</style>
<script type="text/babel">
	import { mapState, mapGetters, mapActions } from "vuex";
	import Errors from "../components/Errors.vue";
	import DropDown from "../components/DropDown.vue";
	import DropDown2 from "../components/DropDown2.vue";
	import ProfileThumbnail from "../components/ProfileThumbnail.vue";

	const winLogo = {
		template: `
			<div>
				<svg id="swirl" style="opacity: 0.5; stroke-width: 5; width: 50px;">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#win-logo"/>
				</svg>
				<span style="font-size: 22px; font-family: 'Garamond', 'Georgia', serif; font-weight: bold; text-transform: none; display: inline-block; transform: translateX( -26px );">
					WiN
					<svg style="width: 15px; fill: red">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#maple"></use>
					</svg>
				</span>
			</div>
		`
	};

	export default {
		name: "Navbar",
		data() {
			return {
				scrolled: false,
				showAppMenu: false,
				showUserMenu: false,
				appLinks: [
					{ to: "/#news", label: "News" },
					{ to: "/calendar", label: "Calendar" },
					{ to: "/members", label: "Our Members" },
					{ to: "/conference", label: "Conference" },
					{ to: "/speakers", label: "Speakers" },
					{ to: "/about", label: "About" }
				],
			};
		},
		components: {
			"winlogo": winLogo,
			"dropdown": DropDown,
			"dropdown2": DropDown2,
			"profileThumbnail": ProfileThumbnail,
			"errors": Errors
		},

		computed: {
			...mapGetters(["isAdmin", "isSuperUser", "isLoggedIn"]),
			...mapState(["session", "windowSize"]),
			selected(){
				return this.$route.name;
			},
			userLinks(){
				const links = [];
				if( this.isLoggedIn ){
					links.push({ to: `/profiles/${ this.session.username }`, label: "My Profile" } );
					if( this.isSuperUser ){
						links.push({ to: "/admin/users", label: "Admin: Users" } );
//						links.push({ to: "/admin/news", label: "Admin: News" } );
//						links.push({ to: "/admin/events", label: "Admin: Events" } );
//						links.push({ to: "/admin/mailinglist", label: "Admin: Mailing List" } );
						links.push({ to: "/admin/publish", label: "Admin: Publisher" } );
					}
				}
				return links;
			}
		},

		methods: {
			...mapActions( ["clearSession"]),
			select( item ){
//				this.selected = item;
			},
			displayUserMenu(){
				this.showUserMenu = true;
			},
			hideUserMenu(){
				this.showUserMenu = false;
			},
			displayAppMenu(){
				this.showAppMenu = true;
			},
			hideAppMenu(){
				this.showAppMenu = false;
			},
			logout() {
				this.clearSession();
			},
			handleScroll () {
				if( !this.scrolled && (( window.scrollY || window.pageYOffset ) > 0 )) this.scrolled = true;
				else if( this.scrolled && (( window.scrollY || window.pageYOffset ) === 0 )) this.scrolled = false;
			}
		},
		created() {
			window.addEventListener( "scroll" , this.handleScroll );
		},
		destroyed() {
			window.removeEventListener( "scroll" , this.handleScroll );
		}
	}
</script>
