<template lang="html">
	<div>
		<hero hero-name="speakers" hero-num=1></hero>
		<div class="wincanada-container wincanada-container-background">
			<h2 class="page-title">{{ title }}</h2>
			<div v-html="content"/>
		</div>
	</div>
</template>
<style lang="less" rel="stylesheet/less">
	@import (reference) "../../assets/main.less";
</style>

<script type="text/babel">
	import { mapState, mapActions } from "vuex";
	import http from "../../api/http";
	import Hero from "../../components/Hero";

	export default{
		data(){
			return {
				loading: true,
				title: "",
				content: ""
			}
		},
		components: { Hero },
		created() {
			this.loadContent();
		},
		methods: {
			loadContent: function(){
				http.get( "/static/content/speakers/index.json" ).then( data  => {
					this.title = data.title;
					this.content = data.content;
					this.loading = false;
				} );
			}
		}
	}
</script>
