<template lang="html">
	<div class="home">
		<hero heroNum="5">
			<h1>Women in Nuclear Canada</h1>
			<p>
				Proudly promoting the role of women in the Canadian nuclear and radiation related industries since 2004.
			</p>
			<div v-if="!isLoggedIn" class="join">
				<router-link class="button button-primary" to="login">Join us!</router-link>
				<router-link class="button" to="about">Learn More</router-link>
			</div>
		</hero>
		<sponsors/>
		<div id="news" style="position: relative; top: -65px; visibility: hidden;"/>
		<news-view></news-view>
		<router-view/>
	</div>
</template>
<style lang="less">
	@import (reference) "../../assets/main.less";

	.home {
		p:last-child {
			margin-bottom: 0;
		}

		.hero {
			@media (max-width: 400px) {
				h1 {
					font-size: 28px;
				}
				p {
					font-size: 12px;
				}
			}
		}

		background: lighten( black, 98% ) !important;
	}
</style>

<script type="text/babel">
	import { mapGetters } from "vuex";
	import Hero from "../../components/Hero.vue";
	import NewsView from "./News/NewsView.vue"
	import Sponsors from "./Sponsors.vue";

	export default {
		components: { NewsView, Hero, Sponsors },
		computed: {
			...mapGetters(["isLoggedIn"])
		}
	}
</script>
