<template lang="html">
	<div class="sponsors" style="text-align: center;">
		<p style="margin-bottom: 0;">
			Proudly sponsored by
		</p>
		<div class="sponsor-logos">
			<img src="/assets/img/sponsors.png"/>
		</div>
	</div>
</template>
<style lang="less">
	.sponsors {
		background-color: hsla( 260, 40%, 35%, 0.08 );
		color: darken( #ededed, 30% );

		.sponsor-logos {
			margin: auto;
			max-width: 700px;
			img {
				width: 100%;
			}
		}

		.sponsors-links {
			display: flex;
			justify-content: space-evenly;

			&.sponsors-major {
				padding-bottom: 10px;
				background-color: hsl( 260, 10%, 93% );
				a {
					img {
						width: 260px;
						opacity: 0.8;
						&:hover {
							opacity: 1.0;
						}
					}
					@media (max-width: 570px) {
						width: 100px;
						transform: scale( 0.7 );
					}
				}
			}
			&.sponsors-minor {
				padding-top: 10px;
				background-color: hsl( 260, 10%, 96% );
				a {
					img {
						opacity: 0.5;
						&:hover {
							opacity: 0.7;
						}
					}
					@media (max-width: 570px) {
						width: 100px;
						transform: scale( 0.7 );
					}
				}
			}
		}
	}
</style>
<script type="text/babel">
    export default{
    }
</script>
