<template lang="html">
	<div>
		<hero hero-name="calendar" hero-num=1></hero>
		<div class="wincanada-container wincanada-container-background" style="padding-top: 30px;">
			<h2 class="page-title">Upcoming Events</h2>
			<div v-if="isSuperUser" style="padding-bottom: 40px;"><span class="new-event" @click="createItem">Create New Event</span></div>
			<event-item v-for="event in events" v-bind:event="event" :key="event.id"/>
		</div>
	</div>
</template>
<style lang="less">
	@import (reference) "../../assets/main.less";

	.new-event {
		opacity: 0.7;
		text-transform: uppercase;
		padding-bottom: 40px;
		font-size: 0.9em;
		font-weight: bold;
		&:hover {
			 opacity: 1.0;
			 cursor: pointer;
		 }
	}
</style>
<script type="text/babel">
	import { mapState, mapActions, mapGetters } from "vuex";
	import Hero from "../../components/Hero.vue";
	import EventItem from "./EventItem.vue";
	import Month from "../../components/Month.vue";

	export default{
		data(){
			return {
				today: new Date()
			}
		},
		components: { Month, EventItem, Hero },
		created () {
			this.fetchEvents()
		},
		computed: {
			...mapGetters( ["isSuperUser"] ),
			...mapState( ["events"] )
		},
		methods: {
			...mapActions( ["fetchEvents", "createEvent"] ),
			createItem: function(){
				this.createEvent();
			}
		}
	}
</script>
