<template>
	<article v-if="!editing" class="event-item marked" :class="{ 'in-the-past': isPast }">
		<header>
			<div v-if="editable" class="editable-actions" style="text-align: right;">
				<svg @click="toggleEditMode" style="width: 25px; height: 25px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"/></svg>
			</div>
			<div style="display: flex; text-transform: uppercase; font-size: 0.8em; font-weight: bold; opacity: 0.4;">
				<date-stamp style="flex: 1 1 auto;" :date="dates"/>
				<div class="event-item-chapter" style="text-align: right;">{{ localEvent.chapter }} </div>
			</div>
			<hr>
			<div style="display:flex; align-items: center;">
				<h1 style="flex: 1 1 auto;" :contenteditable="editing">{{ localEvent.title }} </h1>
				<svg title="Add to Calendar" @click="downloadIcs" style="width: 25px; height: 25px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar-plus"/></svg>
			</div>
			<h2 :contenteditable="editing">{{ localEvent.location }}</h2>
		</header>
		<section>
			<p class="block-with-text event-item-content" v-marked="localEvent.content"/>
		</section>
	</article>

	<article v-else class="event-item marked" :class="{ 'in-the-past': isPast && !editing }">
		<header>
			<div style="text-align: right; height: 32px;">
				<button type="button" @click="save" class="button-primary mini-button">Save</button>
				<button type="button" @click="cancel" class="mini-button">Cancel</button>
				<button type="button" title="Delete this item from the database and the site.  Kind of a big deal.  Please be careful."  @click.prevent.stop="deleteItem" class="mini-button">Delete</button>
			</div>
			<div style="display: flex; text-transform: uppercase; font-size: 0.8em; font-weight: bold; opacity: 0.4; align-items: center">
				<date-stamp style="flex: 1 1 auto; white-space: nowrap" :date="dates"/>
				<select v-model="edited.chapter" id="inputChapter" style="height: inherit; margin: 0; border: none; text-transform: uppercase;">
					<option v-for="chapter in chapters" :selected="edited.chapter === chapter.name">{{ chapter.name }}</option>
				</select>
			</div>
			<hr>
			<form>
				<label for="startDate">Start Date</label>
				<input v-model="edited.startDate" type="date" id="startDate"/>
				<label for="endDate">End Date</label>
				<input v-model="edited.endDate" type="date" id="endDate"/>
			</form>
			<h1 :class="{ editable: editing }" @input="e => update( 'title', e.target.textContent )" ref="title"  :contenteditable="editing">{{ event.title }}</h1>
			<h2 class="event-item-city" :class="{ editable: editing }" @input="e => update( 'location', e.target.textContent )" ref="location" :contenteditable="editing"> {{ event.location }}</h2>
		</header>
		<section>
			<editable-text @change="e => update( 'content', e )" :editable="editing" ref="content" :htmlContent="edited.content"></editable-text>
		</section>
	</article>
</template>

<style lang="less">
	@import (reference) "../../assets/main.less";

	.in-the-past {
		.faded;
	}

	article.event-item {
		color: @text-color;
		padding-bottom: 50px;

		.atcb-list {
			padding: 15px;
			box-shadow: 5px 5px 20px rgba( 0, 0, 0, 0.3 );
		}

		svg {
			fill: @text-color;
			opacity: 0.5;
			&:hover {
				opacity: 0.8;
				cursor: pointer;
			}
		}

		img {
			max-width: 100%;
		}

		hr {
			margin: 0;
		}

		header {
			h1 {
				font-size: 1.6em;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
			}

			h2 {
				margin-top: 0em;
			}

			h3 {
				font-size: 1em;
			}
			& > h1, & > h2, & > h3 {
				min-width: 2px;

				&.editable {
					padding: 5px;
					border: 2px solid transparent;
					border-bottom: 2px dotted fade( mediumpurple, 20% ) !important;

					&:hover {
						cursor: pointer;
						background: fade( mediumpurple, 10% );
					}

					&:focus, &:active {
						outline: none;
						background: white;
						border: 2px solid fade( mediumpurple, 20% ) !important;
					}
				}
			}
		}

		.event-item-month {
			height: 2.0em;
			line-height: 2.0em;
			font-size: 1.5em;
			margin-bottom: 10px;
			color: @title-color;
		}

		section {
			margin-top: 0.5em;
			margin-bottom: 1em;
		}

		.event-item-chevron {
			align-self: center;
			font-size: 48px;
			padding-left: 15px;
			opacity: 0.2;
			&:hover {
				cursor: pointer;
				opacity: 0.5;
			}
		}

		.event-item-city {
			opacity: 0.7;
		}

		.event-item-title {
			font-weight: bold;
			font-size: 1.1em;
		}

		.event-item-description {
			font-weight: bold;
			font-size: 1.1em;
			color: @title-color;
		}

		.event-item-content {
		}
	}

</style>

<script type="text/babel">
	import { mapState, mapGetters, mapActions } from "vuex";
	import { months } from "../../utils/Month";
	import EditableText from "../../components/editable/EditableText.vue";
	import DateStamp from "../../components/DateStamp.vue";

	export default {
		name: "eventItem",
		props: ["event"],
		components: {
			DateStamp,
			"editableText": EditableText
		},
		data(){
			const edited = JSON.parse( JSON.stringify( this.event ) );
			const localEvent = JSON.parse( JSON.stringify( this.event ));
			localEvent.startDate = new Date( localEvent.startDate );
			localEvent.endDate = new Date( localEvent.endDate );
			edited.startDate = new Date( edited.startDate ).toISOString().split("T")[0];
			edited.endDate = new Date( edited.endDate ).toISOString().split("T")[0];
			// edited.startDate = new Date( edited.startDate ).toISOString().split("T")[0];
			// edited.endDate = new Date( edited.endDate ).toISOString().split("T")[0];
			return {
				editing: false,
				edited,
				localEvent
			}
		},
		created(){
			this.fetchChapters();
			this.fetchEvents();
		},
		computed: {
			...mapState( ["chapters"] ),
			...mapGetters( ["isSuperUser", "isAdmin"] ),
			dates(){
				return [this.localEvent.startDate, this.localEvent.endDate];
			},
			editable(){
				return this.isSuperUser || this.isAdmin;
			},
			isPast(){
				if( this.dates[1].getTime() < Date.now() ) return true;
				return false;
			},
			month(){
				return months[this.dates[0].getMonth()] + " " + this.dates[0].getFullYear();
			}
		},
		methods: {
			...mapActions( ["updateEvent", "deleteEvent", "fetchChapters", "fetchEvents"] ),

			deleteItem(){
				this.deleteEvent( this.event );
			},

			formatDate( d ){
				return `${ d.getFullYear()}-${ d.getMonth() + 1 }-${ d.getDate()}`;
			},

			update( property, value ){
				this.edited[property] = value;
			},

			toggleEditMode(){
				this.editing = !this.editing;
			},

			save(){
				const start = this.edited.startDate;
				const end = this.edited.endDate;
				const bah = JSON.parse( JSON.stringify( this.edited ));
				bah.startDate = new Date(start + "T00:00:00");
				bah.endDate = new Date(end + "T00:00:00");
				this.updateEvent( bah );
				this.localEvent = bah;
				this.editing = false;
			},

			cancel(){
				this.editing = false;
				this.edited = JSON.parse( JSON.stringify( this.event ) );
//				this.$refs.title.innerText = this.event.title;
//				this.$refs.description.innerText = this.event.description;
			},

			downloadIcs(){
				const result = [];
				const start = this.dates[0];
				const end = this.dates[1];
				result.push( "BEGIN:VCALENDAR" );
				result.push( "VERSION:2.0" );
				result.push( "PRODID:-//canada.womeninnuclear.org//WiN Calendar" );
				result.push( "BEGIN:VEVENT" );
				result.push( `DTSTART;VALUE=DATE:${ start.getFullYear()}${ (start.getMonth() + 1).toString().padStart(2, "0") }${ start.getDate().toString().padStart(2, "0")}` );
				result.push( `DTEND;VALUE=DATE:${ end.getFullYear()}${ (end.getMonth() + 1).toString().padStart(2, "0") }${ (end.getDate() + 1).toString().padStart(2, "0")}` );
				result.push( `SUMMARY:${ this.localEvent.title }` );
				result.push( `DESCRIPTION:${ this.localEvent.chapter } WiN Event` );
				result.push( `LOCATION:${ this.localEvent.location }` );
				result.push( "END:VEVENT" );
				result.push( "END:VCALENDAR" );

				const filename = "cal.ics";

				const blob = new Blob([result.join("\n")], {type: 'text/calendar'});
				if( window.navigator.msSaveOrOpenBlob ){
					window.navigator.msSaveBlob(blob, filename);
				}
				else{
					const elem = window.document.createElement('a');
					elem.href = window.URL.createObjectURL(blob);
					elem.download = filename;
					document.body.appendChild(elem);
					elem.click();
					document.body.removeChild(elem);
				}
			}
		}
	}
</script>
