<template>
	<div class="date-stamp">
		<div>
			{{ start.day }} {{ start.date }} {{ start.month }}
		</div>
		<div v-if="end">
			&nbsp; to {{ end.day }} {{ end.date }} {{ end.month }}, {{ end.year }}
		</div>
	</div>
</template>

<style lang="less">
	@import (reference) "../assets/main.less";
	.date-stamp {
		display: flex;
	}
</style>

<script type="text/babel">
	import { mediumDays as days, mediumMonths as months, sameDate } from "../utils/Month";
	import Month from "./Month.vue";
	import DropDown from "./DropDown.vue";

	const formatDate = d => ({ date: d.getDate(), day: days[d.getDay()], month: months[d.getMonth()], year: d.getFullYear()});

	export default {
		name: "dateStamp",
		props: ["date"],
		components: {
			DropDown,
			Month
		},
		computed: {
			start(){
				if( Array.isArray( this.date ) && this.date.length > 0 )  return formatDate( this.date[0] );
				return formatDate( this.date );
			},
			end(){
				if( Array.isArray( this.date ) && this.date.length > 1 ){
					if( sameDate( this.date[0], this.date[1] )) return undefined;
					return formatDate( this.date[1] );
				}
				return undefined;
			}
		},

		method: {
		}
	}
</script>
