<template lang="html">
	<div class="dropdown2">
		<div @click="toggleDropdown">
			<slot name="trigger"></slot>
		</div>
		<div v-if="show" v-clickoutside="hideContent">
			<slot>Hello</slot>
		</div>
    </div>
</template>

<style lang="less">
	.dropdown2 {
		position: relative;
	}
</style>

<script type="text/babel">
    export default {
		name: "DropDown2",
		props: ["show"],

		methods: {
			toggleDropdown( event ){
				if( this.show ) this.hideContent();
				else this.showContent();
				event.stopPropagation();
			},

			showContent(){
				this.$emit( "show" );
			},

			hideContent(){
				this.$emit( "hide" );
			}
		}
    }
</script>
