<template lang="html">
	<div class="dropdown" :style="{width: width ? width : 'inherit'}">
		<div @click="toggleDropdown" class="dropdown-trigger" :style="triggerStyle">
			<slot class="dropdown-trigger-label" name="trigger"></slot>
		</div>
		<div v-if="show" class="dropdown-content" v-clickoutside="hide" :style="contentStyle">
			<slot>Hello</slot>
		</div>
    </div>
</template>

<style lang="less">
	.dropdown {
		display: inline-block;
		position: relative;
	}

	.dropdown-trigger {
		display: flex;
		padding: 8px 20px;
		.dropdown-trigger-label {
			flex: 1 1 auto;
			padding-right: 10px;
		}
	}

	.dropdown-content {
		position: absolute;
		z-index: 100;
		background: white;
		box-shadow: 3px 3px 10px rgba( 0, 0, 0, 0.3 );
		color: rgba( 0, 0, 0, 0.8 );

		& > div {
			padding: 8px 20px;
			&:hover {
				color: white;
				background: fade( mediumpurple, 70% );
			}
		}
	}
</style>

<script type="text/babel">
    export default {
		name: "DropDown",

		data(){
			return {
				show: false
			}
		},
		props: ["width", "contentStyles", "triggerStyles"],

		computed: {
			contentStyle(){
				return {
					width: this.width || "inherit",
					...this.contentStyles
				};
			},

			triggerStyle(){
				return {
					...this.triggerStyles
				}
			}
		},
		methods: {
			toggleDropdown( event ){
				this.show = !this.show;
				event.stopPropagation();
			},

			hide(){
				this.show = false;
			}
		}
    }
</script>
