<template lang="html">
	<div v-if="requestErrors.length > 0" class="errors container">
		<div class="errors-content">
			<pre>{{ JSON.stringify( requestErrors, undefined, 2 )}}</pre>
		</div>
		<div class="errors-x" style="font-size: 14px; font-weight: bold;" v-on:click="clear">╳</div>
	</div>
</template>

<style lang="less">
	.errors {
		font-size: 0.9em;
		text-transform: initial;
		width: 100%;
		background: darken( red, 15% );
		color: white;
		padding: 10px;
		margin: 10px;
		display: flex;

		.errors-content {
			flex: 1 1 auto;
		}

		.errors-x {
			cursor: pointer;
			opacity: 0.7;
			padding-left: 10px;

			&:hover {
				opacity: 1.0;
			}
		}
	}
</style>

<script type="text/babel">
	import { mapState, mapActions, mapGetters } from "vuex";

	export default {
		name: "Errors",
		computed: {
			...mapGetters( ["isSuperUser"] ),
			...mapState( ["session", "requestErrors"] )
		},
		methods: {
			...mapActions( ["clearRequestErrors"] ),
			clear(){
				this.clearRequestErrors();
			}
		}
	}
</script>
