<template lang="html">
	<div class="hero" :style="heroStyle" style="display: table; background-size: cover;">
		<div class="header-fade" :style="headerFade"/>
		<div class="hero-vertical-center">
			<slot class="hero-caption" name="caption"/>
			<div v-if="hasDefaultSlot" class="hero-main" >
				<div class="hero-container" style="transform: translate( 0, -20px);">
					<slot/>
				</div>
			</div>
		</div>
	</div>
</template>
<style lang="less" rel="stylesheet/less">
	@import (reference) "../assets/main.less";
	@hero-height: 100vh;

	.hero-container {
		margin: auto;
	}

	.hero {
		position: relative;
		overflow: hidden;
		text-align: center;

		min-height: 400px;
		max-height: 900px;
		height: @hero-height;
		width: 100%;

		color: white;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0.5rem;
			color: white;
		}

		p {
			font-size: 1.1em;
			opacity: 0.9;
		}

		.hero-caption {
			font-size: 12px;
			opacity: 0.8;
			line-height: 3.0rem;
		}

		transition: background 0.25s, transform 0.5s;

		.button {
			width: 140px;
			&:not( .button-primary ){
				color: fade( white, 90% );
				border-color: fade( white, 90% );
				&:hover {
					border-color: white;
					color: white;
				}
			}
		}

		.header-fade {
			position: absolute;
			width: 100%;
			margin: 0;
			height: 200px;
			background: linear-gradient( rgba( 0,0,0,0.5), rgba( 0,0,0,0) );
		}

		// main content styling
		.hero-main {
			z-index: 2;
			margin: 0;
			background: linear-gradient( rgba( 0,0,0,0), rgba( 0,0,0,0.6) );
			padding-top: 110px;
			padding-bottom: 10px;
		}

		.hero-vertical-center {
			display: table-cell;
			vertical-align: bottom;
		}
	}

	.join {
		padding: 0;
		position: relative;
		overflow: hidden;

		.left {
			position: absolute;
			background: darken( @highlight, 30%);
			top: calc(~"calc( -25vw + 2em )");
			width: 50vw;
			height: 50vw;
			left: -5em;
			transform: rotate( 45deg );
		}
	}
</style>

<script type="text/babel">
	import http from "../api/http";
	import storage from "../utils/Storage";

	const updateVersion = ( heroName, heroNum ) =>{
		let heroVersion = storage.getItem( heroName );
		if( !heroVersion ) heroVersion = Math.floor( (Math.random() * 4) + 1 );
		else heroVersion = parseInt( heroVersion );

		if( heroVersion >= heroNum ) heroVersion = 1;
		else heroVersion += 1;
		storage.setItem( heroName, heroVersion );
		return heroVersion;
	};

	export default{
		created () {
			this.loadHero();
		},
		props: {
			heroData: null,
			heroName: {
				type: String,
				default: "hero"
			},
			heroNum: {
				default: 3
			}
		},
		data(){
			return {
				data: null
			}
		},
		computed: {
			hasDefaultSlot(){
				return !!this.$slots.default
			},
			heroStyle(){
				if( this.heroData ){
					return this.heroData.heroImage
				}
				if( this.data ){
					return this.data.heroImage;
				}
				return undefined;
			},
			headerFade(){
				if( this.heroData ){
					return this.heroData.headerFade | {
						header: "300px",
						background: "linear-gradient( rgba( 0,0,80,0.1), rgba( 0,0,80,0) )"
					}
				}
				if( this.data ){
					return this.data.headerFade | {
						header: "300px",
						background: "linear-gradient( rgba( 0,0,80,0.1), rgba( 0,0,80,0) )"
					}
				}
				return undefined;
			}
		},
		methods: {
			loadHero: function(){
				if( !this.heroImage ){
					const version = updateVersion( this.heroName, this.heroNum );
					http.get( `/static/templates/${this.heroName}${ version }/index.json` ).then( data  => {
						this.data = data;
					} );
				}
			}
		}
	}
</script>
