<template lang="html">
	<div class="modal" @click="back">
		<div class="modal-close" >
			<svg id="icon_edit" style="stroke-width: 5; fill: white; width: 30px; height: 30px;">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#remove"/>
			</svg>
		</div>
		<div class="modal-wrapper">
			<div @click="nothing">
				<slot/>
			</div>
		</div>
	</div>
</template>

<style lang="less">
	@import (reference) "../assets/main.less";

	.modal {
		position: fixed;
		z-index: @modal-zindex;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba( 0, 0, 0, 0.65 );

		.modal-wrapper {
			overflow-y: auto;
			height: 100%;
			display: flex;
			justify-content: center;
		}

		.modal-close {
			position: absolute;
			right: 30px;
			top: 10px;
			font-size: 1.5em;
			color: white;
			opacity: 0.7;
			&:hover {
				opacity: 1.0;
				cursor: pointer;
			}
		}
	}

	.modal-open {
		position: relative;
		overflow: hidden;
	}
</style>

<script type="text/babel">
	import { mapGetters } from "vuex";

	export default {
		name: "modal",
		props: ["returnTo"],
		methods: {
			nothing( e ){
				e.stopPropagation();
			},
			back(){
				if( this.returnTo ){
					this.$router.push( this.returnTo );
					return;
				}
				if( this.historyLength === 1 ){
					this.$router.push( this.previousRoute );
					return;
				}
				else this.$router.go( -1 );
			}
		},
		computed: {
			...mapGetters( ["previousRoute", "historyLength"] )
		},
		created() {
			document.body.classList.add( "modal-open" );
		},
		destroyed() {
			document.body.classList.remove( "modal-open" );
		}
	}
</script>
