<template lang="html">
	<div class="calendar">
		<div class="calendar-month">
			<div class="calendar-nav">
				<div @click="decrementMonth">❮</div>
				<div style="flex: 1 1 auto; font-size: 1.4em; line-height: 3.0em; text-align: center;">
					{{ month.month }}
				</div>
				<div @click="incrementMonth">❯</div>
			</div>
			<div class="calendar-cell calendar-daynames" v-for="dayname in month.daysOfWeek">
				{{ dayname }}
			</div>

			<div v-for="week in month.weeks">
				<div v-for="day in week" class="calendar-cell calendar-day" :class="{ calendar_today: month.isToday( day ), calendar_selectedday: month.sameDay( day ), 'calendar-not-in-month': !month.sameMonth( day )}">
					{{ day.getDate() }}
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="less">
	@import (reference) "../assets/main.less";

	@calendar-cell-width: 25px;

	.calendar {
		font-size: small;
		font-weight: normal;
		display: inline-block;
	}

	.calendar-month {
		font-size: 0.9em;
	}

	.calendar-week {
		display: table-row;
	}

	.calendar-nav {
		display: flex;
		align-items: center;
		white-space: nowrap;
	}

	.calendar-cell {
		width: @calendar-cell-width;
		height: @calendar-cell-width;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 0.9em;

		&.calendar-daynames {
			font-size: 0.9em;
			height: @calendar-cell-width * 3/5;
			font-weight: bold;
			text-transform: uppercase;
			border: 2px solid fade(#000, 0%);
			opacity: 0.5;
		}
		&.calendar-day {
			cursor: pointer;
			border: 2px solid fade(#000, 0%);

			&:hover {
				font-weight: bolder;
				border: 2px solid fade(#000, 10%);
			}
		}
		&.calendar_disabled{
			opacity: 0.5;
			cursor: not-allowed;
			&:hover {
				font-weight: normal;
				border: none;
			}
		}
		&.calendar_selectedday {
			border: 2px solid @brand-tertiary !important;
		}

		&.calendar-not-in-month {
			opacity: 0.23;
		}

		&.calendar_today {
			font-weight: bold;
			color: darken( @brand-primary, 40% );
		}
	}
</style>

<script type="text/babel">
	import Month from "../utils/Month";
	import { firstOfMonth } from "../utils/Month";

	export default {
		name: "Month",
		props: ["date"],
		data(){
			return {
				localDate: this.date
			}
		},
		methods:{
			incrementMonth(){
				const m = firstOfMonth( this.localDate );
				m.setMonth( m.getMonth() + 1);
				this.localDate = m;
			},
			decrementMonth(){
				const m = firstOfMonth( this.localDate );
				m.setMonth( m.getMonth() - 1);
				this.localDate = m;
			}
		},
		computed: {
			month() {
				return new Month( this.localDate );
			}
		}
	}
</script>
