<template lang="html">
	<div class="profile-thumbnail" style="">
		<object style="position:absolute; z-index: 1;" type="image/jpeg" :data="url"/>
	</div>
</template>

<style lang="less">
	@import (reference) "../assets/main.less";

	.profile-thumbnail {
		position:relative;
		overflow: hidden;
		border-radius: 50%;
		border: 2px solid rgba( 255,255,255, 0.85);
		display: inline-block;
		vertical-align: middle;
	}

	.profile-thumbnail > object {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: desaturate( lighten( @brand-primary, 35% ), 35% ) url( @icon-win-avatar );
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
</style>

<script type="text/babel">
	export default{
		name: "ProfileThumbnail",
		props: ["url"]
	}
</script>
