<template lang="html">
	<div class="loader" :style="styles"/>
</template>

<style lang="less">
	@import (reference) "../assets/main.less";

	.loader,
	.loader:after {
		border-radius: 50%;
		width: 3em;
		height: 3em;
	}
	.loader {
		margin: 60px auto;
		font-size: 10px;
		position: relative;
		text-indent: -9999em;
		border-top: 0.4em solid rgba(255, 255, 255, 0.2);
		border-right: 0.4em solid rgba(255, 255, 255, 0.2);
		border-bottom: 0.4em solid rgba(255, 255, 255, 0.2);
		border-left: 0.4em solid #ffffff;
		transform: translateZ( 0 );
		animation: load8 0.8s infinite linear;
	}
	@keyframes load8 {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	}
</style>

<script type="text/babel">
	export default {
		name: "Spinner",
		props: ["size", "styles"]
	}
</script>
