<template lang="html">
	<div class="template">
	</div>
</template>

<style lang="less" rel="stylesheet/less">
	@import (reference) "../assets/main.less";
</style>

<script type="text/babel">
	import { mapState, mapGetters, mapActions } from "vuex"

	export default {
		name: "Template",

		props: ["option"],

		computed: {
			...mapGetters([]),
			...mapState([])
		},

		data() {
			return {
				something: "somevalue"
			};
		},

		methods: {
			...mapActions([]),
			doIt() {}
		},

		/*
			props: {
				age: {
					type: Number,
					default: 0,
					required: true
				}
			},

			watch: {
				a: function (val, oldVal) {}
			},

			created() {},
			beforeMount(){},
			mounted(){},
			beforeUpdate(){},
			updated(){},
			activated(){},
			beforeDestroy(){},
			destroyed() {}
		*/
	}
</script>
