<template>
	<div class="avatar">
		<object class="avatar-image avatar-image-small" type="image/jpg" :data="profile.thumbnail"/>
		<div class="avatar-profile">
			<div class="avatar-profile-name">{{ profile.name }}</div>
			<div class="avatar-profile-job">{{ profile.job }}</div>
			<div class="avatar-profile-employer">{{ profile.employer }}</div>
		</div>
		<div class="avatar-chevron" style="transform: translate( 0, -5px );">
			&#8250;
		</div>
	</div>
</template>

<style lang="less">
	@import (reference) "../../assets/main.less";

	.avatar {
		color: @text-color;
		font-weight: normal;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		&:hover{
			background: linear-gradient(to right, lighten( mediumpurple, 30% ), #FFF);
			cursor: pointer;
			border-top-left-radius: 40px;
			border-bottom-left-radius: 40px;

			.avatar-chevron {
				opacity: 0.5;
			}
		}

		.avatar-image {
			display: inline-block;
			border-radius: 50%;
			border: 2px solid lighten( mediumpurple, 20% );
			background: desaturate( lighten( @brand-primary, 40% ), 35% ) url( @icon-win-avatar );
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.avatar-chevron {
			align-self: center;
			font-size: 48px;
			transform: translate( 0, -5px );
			padding-left: 5px;
			opacity: 0.2;
		}

		.avatar-image-small {
			height: 80px;
			width: 80px;
		}

		.avatar-profile {
			flex: 1 1 auto;
			display: inline-block;
			line-height: 1.5em;
			padding-left: 15px;

			.avatar-profile-name {
				font-size: 1.1em;
			}

			.avatar-profile-job {
				font-size: small;
				opacity: 0.75;
			}
			.avatar-profile-employer {
				font-size: small;
				text-transform: uppercase;
				.faded;
			}
		}
	}
</style>

<script type="text/babel">
	export default {
		name: "avatar",
		props: ["profile"]
	}
</script>
