<template lang="html">
	<div>
		<hero hero-name="member" hero-num=1>
		</hero>
		<div class="wincanada-container wincanada-container-background members">
			<h2 class="page-title">Our Members</h2>
			<p>WiN has considerable reach, with over 35,000 individuals worldwide, working in
			various fields of nuclear energy and radiation applications. In Canada, we have over
			1,700 members, employed in a variety of disciplines, ranging from technical fields
			such as science and engineering to business disciplines such as law and finance.  
			Review the following member profiles to learn more about our members.</p>
			<div style="text-align: center;">
			<form v-on:submit.prevent>
				<input placeholder="Search for members..." type="text" size="60" @input="onMatchInput"/>
			</form>
			</div>
			<ul>
				<li v-for="profile in filteredUsers">
					<router-link :to="'/profiles/' + profile.username"><avatar :profile="profile"/></router-link>
				</li>
			</ul>
		</div>
	</div>
</template>

<style lang="less" rel="stylesheet/less">
	@import (reference) "../../assets/main.less";

	.members > ul {
		list-style-type: none;
	}

</style>

<script type="text/babel">
	import { mapState, mapActions } from "vuex";
	import debounce from "lodash.debounce";
	import Avatar from "./Avatar";
	import Hero from "../../components/Hero";

	const filterByMatch = ( match ) => {
		return ( user ) => user.searchFields.indexOf( match ) !== -1;
	};

	export default{
		components: {
			Hero, Avatar
		},
		data(){
			return {
				loading: false,
				match: ""
			}
		},
		methods: {
			...mapActions( ["fetchProfiles"] ),
			onMatchInput: debounce( function( e ){
				this.match = e.target.value;
				this.filterUsers();
			}, 400 ),
			filterUsers(){
				const filters = [];
				const m = this.match.trim().toLowerCase();
				let users;

				if( m.length !== 0 ) filters.push( filterByMatch( m ));

				if( filters.length === 0 ) {
					users = this.profiles;
					users.sort(( a, b ) => 2 * Math.random() - 1);
				} else {
					users = this.profiles.filter( user => {
						for( let i = 0; i < filters.length; i++ ){
							if( !filters[i]( user )) return false;
						}
						return true;
					});
					users.sort(( a, b ) => ( a.lastName + a.firstName ).localeCompare( b.lastName + b.firstName ));
				}


				const result = [];
				for (let i = 0; i < users.length; i++) {
					const user = users[i];
					result.push( user );
				}

				this.loading = false;
				return result;
			},
		},

		created() {
			this.fetchProfiles();
		},

		computed: {
			...mapState( ["profiles"] ),
			filteredUsers(){
				return this.filterUsers();
			}
		}
	}
</script>
