<template lang="html">
	<div v-if="isSuperUser">
		<hero hero-name="admin_users" hero-num=1>
			<h3>Publisher</h3>
		</hero>
		<div class="wincanada-container wincanada-container-background" style="padding-top: 30px;">
			<label for="publishContacts">Total contacts: {{ contacts ? contacts.length : 0 }}</label>
			<input id="publishContacts" type="button" value="Publish Contacts" @click="publishContacts"/>
			<br>
			<label for="publishEvents">Total events: {{ events ? events.length : 0 }}</label>
			<input id="publishEvents" type="button" value="Publish Events" @click="publishEvents"/>
			<br>
			<label for="publishNews">Total news items: {{ news ? news.length : 0 }}</label>
			<input id="publishNews" type="button" value="Publish News" @click="publishNews"/>
			<br>
			<label for="publishProfiles">Total public profiles: {{ profiles ? profiles.length : 0 }}</label>
			<input id="publishProfiles" type="button" value="Publish Profiles" @click="publishProfiles"/>
			<br>
			<label for="publishChapters">Total chapters: {{ chapters ? chapters.length : 0 }}</label>
			<input id="publishChapters" type="button" value="Publish Chapters" @click="publishChapters"/>
		</div>
	</div>
</template>

<style lang="less">
</style>

<script type="text/babel">
	import { mapState, mapActions, mapGetters } from "vuex";
	import Hero from "../../../components/Hero.vue";

	export default {
		data(){
			return {
				itemCount: {
					news: undefined,
					contacts: undefined,
					profiles: undefined,
					events: undefined,
					chapters: undefined
				}
			}
		},
		created () {
			this.fetchNews();
			this.fetchContacts();
			this.fetchEvents();
			this.fetchProfiles();
			this.fetchChapters();
		},
		components: {
			Hero
		},
		computed: {
			...mapGetters( ["publishedNews", "unpublishedNews", "isAdmin"] )
		},

		computed: {
			...mapState( ["profiles", "news", "events", "contacts", "chapters"] ),
			...mapGetters(["isAdmin", "isSuperUser"])
		},

		methods: {
			...mapActions( ["fetchContacts", "fetchProfiles", "fetchChapters", "fetchNews", "fetchEvents"] ),

			publishContacts(){
				this.fetchContacts( true );
			},
			publishChapters(){
				this.fetchChapters( true );
			},
			publishEvents(){
				this.fetchEvents( true );
			},
			publishNews(){
				this.fetchNews( true );
			},
			publishProfiles(){
				this.fetchProfiles( true );
			}
		}
	}
</script>
